// NMC Colors
$nmc-primary: #dc0000;
$nmc-secondary: #EEEEEE;
$nmc-dark-grey: #373A40;
$nmc-light-grey: #686D76;
$nmc-medium-grey: #5f6368;
$nmc-medium-light-grey: #9ca3af;
$nmc-light-grey: #f2f2f2;
$nmc-grey: #999999;
$nmc-grey-2: #D2D2D2;
$nmc-grey-3: #E7E7E7;
$nmc-grey-4: #D9D9D9;
$nmc-white: #FFFFFF;
$nmc-black: #000000;
$nmc-light: #f8f9fa;
$nmc-olive :#c6d57d;
$nmc-yellow: #ffa55e;
$nmc-grape: #8798be;
$nmc-peach: #f8a5a5;

// NMC Font Family
$nmc-font-family-din: 'DIN Next LT Pro', sans-serif;
$nmc-font-family-roboto: 'Roboto', sans-serif;
$nmc-font-family-inter: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
$nmc-font-family-poppins: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
$nmc-font-family-pacifico: 'Pacifico', cursive;