<section class="contact-section py-5 nmc-bg-light">
    <div class="container-boxed">
      <div class="text-center heading mb-5">
        <h2 class="mb-4 text-bottom-line position-relative">Connect With Us</h2>
      </div>
  
      <div class="row g-5">
        <!-- <div class="col-md-4">
          <a
            href="https://x.com/nomadcoderai"
            target="_blank"
            class="nmc-dark-grey font-28 d-flex flex-column align-items-center"
          >
            <i class="bi bi-twitter font-big nmc-primary d-block"></i>
          </a>
        </div>
  
        <div class="col-md-4">
          <a
            href="https://in.linkedin.com/company/nomadcoderai"
            target="_blank"
            class="nmc-dark-grey font-28 d-flex flex-column align-items-center"
          >
            <i class="bi bi-linkedin font-big nmc-primary d-block"></i>
          </a>
        </div>
  
        <div class="col-md-4">
          <a
            href="https://www.youtube.com/@nomadcoderai"
            target="_blank"
            class="nmc-dark-grey font-28 d-flex flex-column align-items-center"
          >
            <i class="bi bi-youtube font-big nmc-primary d-block"></i>
          </a>
        </div> -->
  
        <div class="col-md-6">
          <a
            href="mailto:hello@nomadcoder.ai"
            target="_blank"
            class="contact-card py-5 nmc-dark-grey font-28 d-flex flex-column align-items-center"
          >
            <i class="bi bi-envelope-at-fill font-big nmc-primary d-block"></i>
            hello&#64;nomadcoder.ai
          </a>
        </div>
  
        <div class="col-md-6">
          <a
            href="tel:9717098666"
            target="_blank"
            class="contact-card py-5 nmc-dark-grey font-28 d-flex flex-column align-items-center"
          >
            <i class="bi bi-telephone-fill font-big nmc-primary d-block"></i>
            +91-9717098666
          </a>
        </div>
      </div>
  
      <h2 class="mt-5 text-center nmc-dark-grey d-flex align-items-center justify-content-center">
        Hosted By :
        <img
          class="logo ms-3"
          src="assets/images/logo/nomadcoder-logo.png"
          alt=""
        />
      </h2>
    </div>
  </section>
  