<section class="speakers-section py-5 nmc-bg-white">
  <div class="container-boxed">
    <div class="text-center heading mb-5">
      <h2 class="mb-4 text-bottom-line position-relative">Speakers</h2>
    </div>

    <!-- <div class="speakers row g-5">
      @for(speaker of speakers; track speaker;){
      <div class="col-lg-3 col-md-4 col-sm-6 col-12 speaker">
        <div class="flip-card" tabindex="0">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <figure class="m-0 overflow-hidden">
                <img
                  [src]="speaker.image"
                  class="w-100 h-100 object-fit-cover"
                  [alt]="speaker.name"
                />

                <img
                  [src]="speaker.flag"
                  [alt]="speaker.name"
                  class="flag position-absolute object-fit-cover"
                />
              </figure>
            </div>

            <div class="flip-card-back">
              <p class="nmc-white font-14 mt-2">
                {{ speaker.bio }}
              </p>
            </div>
          </div>
        </div>

        <div class="text-center pt-3">
          <h3 class="font-24 fw-bold nmc-primary m-0">{{ speaker.name }}</h3>

          <span class="font-16 mt-2 mb-0 nmc-medium-grey">
            {{ speaker.position }}
          </span>

          <ul
            class="social d-flex align-items-center justify-content-center gap-2 mt-2"
          >
            @if(speaker.twitter){
            <li>
              <a
                [href]="speaker.twitter"
                target="_blank"
                class="nmc-dark-grey font-18"
                ><i class="bi bi-twitter"></i
              ></a>
            </li>
            } @if(speaker.linkedin){
            <li>
              <a
                [href]="speaker.linkedin"
                target="_blank"
                class="nmc-dark-grey font-18"
                ><i class="bi bi-linkedin"></i
              ></a>
            </li>
            }@if(speaker.github){
            <li>
              <a
                [href]="speaker.github"
                target="_blank"
                class="nmc-dark-grey font-18"
                ><i class="bi bi-github"></i
              ></a>
            </li>
            }@if(speaker.youtube){
            <li>
              <a
                [href]="speaker.youtube"
                target="_blank"
                class="nmc-dark-grey font-20"
                ><i class="bi bi-youtube"></i
              ></a>
            </li>
            }
          </ul>
        </div>
      </div>
      }
    </div> -->

    <div class="speakers-list mt-5">
      @for (speaker of speakers; track speaker;) {
      <div
        class="speaker d-flex align-items-center justify-content-between flex-column flex-md-row gap-5 mt-5"
      >
        <div class="speaker-img position-relative w-30 z-1">
          <figure class="m-0 overflow-hidden">
            <img
              [src]="speaker.image"
              class="h-100 w-100 object-fit-cover"
              alt=""
            />
          </figure>

          <!-- <img
            [src]="speaker.flag"
            [alt]="speaker.name"
            class="flag object-fit-cover mx-auto mt-3"
          /> -->
        </div>

        <div class="speaker-info text-center text-md-start w-75 w-767-100">
          <h3 class="nmc-primary font-family-poppins pe-2 position-relative">
            {{ speaker.name }}

            <img
              [src]="speaker.flag"
              [alt]="speaker.name"
              class="flag position-absolute object-fit-cover"
            />

            <span class="nmc-medium-grey font-18">{{ speaker.position }}</span>
          </h3>

          <p class="nmc-medium-grey">
            {{ speaker.bio }}
          </p>

          @if (speaker.previousTalks && speaker.previousTalks.length > 0 ){
          <h5 class="nmc-primary font-family-poppins">Previous Talks:</h5>
          <ul class="mb-4">
            @for( talk of speaker.previousTalks | slice: 0:5; track talk;){
            <li>
              <i class="bi bi-link-45deg nmc-primary"></i>
              <a
                class="nmc-dark-grey fw-semibold text-decoration-underline cursor-pointer"
                [href]="talk.link"
                target="_blank"
              >
                {{ talk.title }} : {{ talk.event }}
              </a>
            </li>
            } @if( speaker.previousTalks.length > 5){
            <li class="nmc-medium-grey">
              +{{ speaker.previousTalks.length - 5 }} more...
            </li>
            }
          </ul>
          }

          <div
            class="social d-flex align-items-center justify-content-center justify-content-md-start gap-2"
          >
            @if(speaker.twitter){
            <a
              target="_blank"
              [href]="speaker.twitter"
              class="font-20 nmc-dark-grey"
            >
              <i class="bi bi-twitter-x"></i> </a
            >} @if(speaker.github){
            <a
              target="_blank"
              [href]="speaker.github"
              class="font-20 nmc-dark-grey"
            >
              <i class="bi bi-github"> </i> </a
            >} @if(speaker.linkedin){
            <a
              target="_blank"
              [href]="speaker.linkedin"
              class="font-20 nmc-dark-grey"
            >
              <i class="bi bi-linkedin"></i> </a
            >}
          </div>
        </div>
      </div>
      }
    </div>

    <div
      class="error-label text-danger font-18 d-flex align-items-center justify-content-center mt-4 mb-0 border-top pt-4"
    >
      <i class="bi bi-exclamation-triangle-fill me-2"></i>
      <p class="nmc-medium-grey font-family-inter m-0">
        Speakers are subjected to be changed
      </p>
    </div>
  </div>
</section>
