<!-- <section class="about-section py-5 nmc-bg-light">
  <div class="container-boxed">
    <div class="row pt-3 align-items-center gx-5">
      <div class="col-6 w-1024-100">
        <div class="yt-video-container">
          <iframe
            width="100%"
            height="100%"
            src="https://www.youtube.com/embed/d8S7dmy29mc?si=EQYub8FZOkN26YpJ"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
        </div>
      </div>

      <div class="col-6 w-1024-100">
        <h3 class="nmc-dark-grey fw-normal font-22 font-family-din">
          The <b class="nmc-primary">ng-India </b> is one of the biggest Angular
          conferences in the world. Every year, it brings together over 500 web
          developers, including experts like GDEs, authors, MVPs, and
          open-source contributors from 15+ countries. Join us to learn new
          things, meet amazing people, hire talent, and get inspired!
        </h3>

        <a class="nmc-primary mt-3 font-18 font-family-poppins" href="">
          Previous Editions <i class="bi bi-arrow-right font-20"></i>
        </a>

        <div class="row justify-content-start g-3 mt-0 mt-xl-4">
          <div class="col-6 col-xl-auto">
            <div class="ng-tracker d-flex nmc-bg-yellow">
              <h3 class="nmc-dark-grey font-16 text-center m-auto">
                <span class="font-30 d-block font-family-poppins"> 1 </span>
                Day/Track
              </h3>
            </div>
          </div>

          <div class="col-6 col-xl-auto">
            <div class="ng-tracker d-flex nmc-bg-grape">
              <h3 class="nmc-dark-grey font-16 text-center m-auto">
                <span class="font-30 d-block font-family-poppins"> 15 </span>
                Talks
              </h3>
            </div>
          </div>

          <div class="col-6 col-xl-auto">
            <div class="ng-tracker d-flex nmc-bg-peach">
              <h3 class="nmc-dark-grey font-16 text-center m-auto">
                <span class="font-30 d-block font-family-poppins"> 15 </span>
                Speakers
              </h3>
            </div>
          </div>

          <div class="col-6 col-xl-auto">
            <div class="ng-tracker d-flex nmc-bg-olive">
              <h3 class="nmc-dark-grey font-16 text-center m-auto">
                <span class="font-30 d-block font-family-poppins"> 500+ </span>
                Delegates
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section class="about-section py-5 nmc-bg-light">
  <div class="container-boxed">
    <!-- <div class="text-center heading mb-5">
      <h2 class="mb-4 text-bottom-line position-relative">About</h2>
    </div> -->

    <div class="row justify-content-between align-items-center g-lg-5 g-3">
      <div class="col-lg-6 col-12">
        <div class="hero-video overflow-hidden">
          <iframe
            width="100%"
            height="400"
            src="https://www.youtube.com/embed/dLjixQlHwhs?si=LjPA_4-1iBZCVV48&amp;controls=0&amp;start=1"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
        </div>
      </div>

      <div class="col-lg-6 col-12">
        <h3
          class="font-24 text-start fw-normal m-0"
        >
          The <b class="fw-bold">ng-India </b> is one of the biggest
          <b class="fw-bold">Angular</b>
          conferences in the world. Every year, it brings together over
          <b class="fw-bold">500 web developers</b>, including experts like
          <b class="fw-bold">GDEs</b>, <b class="fw-bold">authors</b>,<b
            class="fw-bold"
          >
            MVPs</b
          >, and open-source contributors from
          <b class="fw-bold">15+ countries</b>. Join us to learn new things,
          <b class="fw-bold">meet</b> amazing people,
          <b class="fw-bold">hire</b> talent, and get
          <b class="fw-bold">inspired!</b> Learn more about the previous
          ng-India events.
        </h3>

        <a
          href="https://www.nomadcoder.ai/ng-india"
          class="nmc-btn-primary px-5 py-3 font-24 h-auto mt-5 d-inline-block"
          target="_blank"
        >
          Previous Editions
        </a>
      </div>
    </div>
  </div>
</section>
