<section class="workshops-section py-5 nmc-bg-white min-vh-100">
  <div class="container-boxed">
    <div
      class="text-start heading mb-5 d-flex align-items-center justify-content-between"
    >
      <h2 class="text-bottom-line position-relative">Workshop-2</h2>

      <button
        routerLink="/workshops"
        class="nmc-btn-primary h-auto py-2 px-3 box-shadow-none border-0 nmc-bg-dark-grey fw-semibold font-20"
        tabindex="0"
      >
        Back
      </button>
    </div>

    <div class="workshops-details">
      <div class="row g-5">
        <div class="col-12">
          <div
            class="nmc-bg-white overflow-hidden position-relative h-100 m-auto"
          >
            <div class="workshop-heading">
              <!-- <h5 class="nmc-primary text-center fw-bold">Workshop-1</h5> -->

              <div
                class="d-flex justify-content-between align-items-xl-center align-items-start flex-column flex-xl-row"
              >
                <h3
                  class="font-family-poppins font-30 d-inline-block nmc-dark-grey"
                >
                  Master Signals and Deep Dive into Architecture Best Practices
                </h3>

                <h4
                  class="nmc-dark-grey m-0 font-family-poppins font-20 mt-3 mt-xl-0"
                >
                  <i class="bi bi-people-fill nmc-primary me-2"></i> Seats : 25
                </h4>
              </div>

              <div
                class="timing d-flex align-items-start align-items-xl-center flex-column flex-xl-row justify-content-between my-3 pb-3 border-bottom"
              >
                <p class="nmc-medium-grey m-0">
                  <i
                    class="bi bi-calendar-event-fill me-2 font-20 nmc-primary"
                  ></i
                  ><span class="nmc-dark-grey">Date</span> : April 11, 2025
                </p>

                <p class="nmc-medium-grey m-0">
                  <i class="bi bi-clock-fill me-2 font-20 nmc-primary"></i
                  ><span class="nmc-dark-grey">Starts</span> : 10:00 AM |
                  <span class="nmc-dark-grey">Ends</span> : 5:00 PM
                </p>
              </div>
            </div>

            <div class="workshop-info m-0 p-0">
              <div class="border-bottom">
                <p class="font-18 nmc-medium-grey mt-3 fw-normal mb-3">
                  This workshop dives deep into
                  <b>Angular's latest features</b>, empowering you to build
                  <b>blazing-fast, well-architected applications</b>. We'll
                  explore the revolutionary
                  <b> signal-based reactivity system</b> and unlock the secrets
                  to optimized performance and maintainability.
                </p>
              </div>

              <!-- Agenda -->
              <div class="border-bottom mt-3">
                <h4 class="font-20 nmc-dark-grey font-family-poppins mb-3">
                  Agenda
                </h4>

                <div class="topic mb-3 ms-3">
                  <h5 class="font-18 nmc-dark-grey font-family-poppins">
                    <i
                      class="bi bi-arrow-right-circle-fill nmc-primary me-1"
                    ></i>
                    Mastering Angular Signals
                  </h5>

                  <ul class="mb-3 ms-4">
                    <li
                      class="font-18 nmc-medium-grey mt-3 d-flex align-items-center"
                    >
                      <i class="bi bi-circle-fill nmc-primary font-5 me-3"></i>
                      In-Depth Exploration of Signals, Angular's New Reactivity
                      Primitive
                    </li>

                    <li
                      class="font-18 nmc-medium-grey mt-3 d-flex align-items-center"
                    >
                      <i class="bi bi-circle-fill nmc-primary font-5 me-3"></i>
                      Managing Side Effects with Effects
                    </li>

                    <li
                      class="font-18 nmc-medium-grey mt-3 d-flex align-items-center"
                    >
                      <i class="bi bi-circle-fill nmc-primary font-5 me-3"></i>

                      Deriving Values Efficiently with Computed Signals
                    </li>

                    <li
                      class="font-18 nmc-medium-grey mt-3 d-flex align-items-center"
                    >
                      <i class="bi bi-circle-fill nmc-primary font-5 me-3"></i>

                      Connecting and Transforming Signals with LinkedSignal
                    </li>

                    <li
                      class="font-18 nmc-medium-grey mt-3 d-flex align-items-center"
                    >
                      <i class="bi bi-circle-fill nmc-primary font-5 me-3"></i>

                      Streamlining Asynchronous Operations with Resource &
                      rxResource
                    </li>
                  </ul>
                </div>

                <div class="topic mb-3 ms-3">
                  <h5 class="font-18 nmc-dark-grey font-family-poppins">
                    <i
                      class="bi bi-arrow-right-circle-fill nmc-primary me-1"
                    ></i>
                    Signal-Based Change Detection: The Path to High Performance
                  </h5>

                  <ul class="mb-3 ms-4">
                    <li
                      class="font-18 nmc-medium-grey mt-3 d-flex align-items-center"
                    >
                      <i class="bi bi-circle-fill nmc-primary font-5 me-3"></i>
                      Revolutionizing Change Detection: Synchronization using
                      Signals
                    </li>

                    <li
                      class="font-18 nmc-medium-grey mt-3 d-flex align-items-center"
                    >
                      <i class="bi bi-circle-fill nmc-primary font-5 me-3"></i>
                      Zoneless Change Detection: Eliminating Zones for Optimal
                      Performance
                    </li>

                    <li
                      class="font-18 nmc-medium-grey mt-3 d-flex align-items-center"
                    >
                      <i class="bi bi-circle-fill nmc-primary font-5 me-3"></i>
                      &#64;defer: Optimizing Component Rendering & Page Load
                      Speed
                    </li>

                    <li
                      class="font-18 nmc-medium-grey mt-3 d-flex align-items-center"
                    >
                      <i class="bi bi-circle-fill nmc-primary font-5 me-3"></i>
                      New Control Flow: Streamlining Template Logic
                    </li>
                  </ul>
                </div>

                <div class="topic mb-3 ms-3">
                  <h5 class="font-18 nmc-dark-grey font-family-poppins">
                    <i
                      class="bi bi-arrow-right-circle-fill nmc-primary me-1"
                    ></i>
                    Modern Component Architecture with Signals
                  </h5>

                  <ul class="mb-3 ms-4">
                    <li
                      class="font-18 nmc-medium-grey mt-3 d-flex align-items-center"
                    >
                      <i class="bi bi-circle-fill nmc-primary font-5 me-3"></i>
                      Signal Inputs: Reactive Component Communication
                    </li>

                    <li
                      class="font-18 nmc-medium-grey mt-3 d-flex align-items-center"
                    >
                      <i class="bi bi-circle-fill nmc-primary font-5 me-3"></i>

                      Model Inputs: Simplifying Two-Way Data Binding
                    </li>

                    <li
                      class="font-18 nmc-medium-grey mt-3 d-flex align-items-center"
                    >
                      <i class="bi bi-circle-fill nmc-primary font-5 me-3"></i>
                      Signal Queries: Advanced & Reactive Content Projection
                    </li>

                    <li
                      class="font-18 nmc-medium-grey mt-3 d-flex align-items-center"
                    >
                      <i class="bi bi-circle-fill nmc-primary font-5 me-3"></i>
                      Automatic Schematics to Ease Code Migration
                    </li>
                  </ul>
                </div>

                <div class="topic mb-3 ms-3">
                  <h5 class="font-18 nmc-dark-grey font-family-poppins">
                    <i
                      class="bi bi-arrow-right-circle-fill nmc-primary me-1"
                    ></i>
                    Next-Level Server-Side Rendering (SSR)
                  </h5>

                  <ul class="mb-3 ms-4">
                    <li
                      class="font-18 nmc-medium-grey mt-3 d-flex align-items-center"
                    >
                      <i class="bi bi-circle-fill nmc-primary font-5 me-3"></i>
                      Event Replay: Ensuring Consistent Behavior & Never Miss a
                      Click
                    </li>

                    <li
                      class="font-18 nmc-medium-grey mt-3 d-flex align-items-center"
                    >
                      <i class="bi bi-circle-fill nmc-primary font-5 me-3"></i>
                      Incremental Hydration: Hydrate Only What You Need & When
                      You Need It
                    </li>

                    <li
                      class="font-18 nmc-medium-grey mt-3 d-flex align-items-center"
                    >
                      <i class="bi bi-circle-fill nmc-primary font-5 me-3"></i>

                      Server Routes Configuration: Optimizing SSR Setup
                    </li>
                  </ul>
                </div>
              </div>

              <!-- What You Will Learn -->
              <div class="border-bottom mt-3">
                <h4 class="font-20 nmc-dark-grey font-family-poppins mb-3">
                  What You Will Learn
                </h4>

                <p class="font-18 nmc-medium-grey">
                  By the end of this workshop, participants will:
                </p>

                <ul class="mb-3 ms-3">
                  <li
                    class="font-16 nmc-medium-grey mt-3 d-flex align-items-center"
                  >
                    <i class="bi bi-circle-fill nmc-primary font-5 me-3"></i>
                    Master Angular's signal-based reactivity system.
                  </li>

                  <li
                    class="font-16 nmc-medium-grey mt-3 d-flex align-items-center"
                  >
                    <i class="bi bi-circle-fill nmc-primary font-5 me-3"></i>
                    Build high-performance applications with zoneless change
                    detection.
                  </li>

                  <li
                    class="font-16 nmc-medium-grey mt-3 d-flex align-items-center"
                  >
                    <i class="bi bi-circle-fill nmc-primary font-5 me-3"></i>
                    Design and implement modern, well-architected components.
                  </li>

                  <li
                    class="font-16 nmc-medium-grey mt-3 d-flex align-items-center"
                  >
                    <i class="bi bi-circle-fill nmc-primary font-5 me-3"></i>
                    Leverage advanced SSR techniques for optimal performance.
                  </li>
                </ul>
              </div>

              <!-- Target Audience -->
              <div class="border-bottom mt-3">
                <h4 class="font-20 nmc-dark-grey font-family-poppins mb-3">
                  Target Audience
                </h4>

                <p class="font-18 nmc-medium-grey">
                  Angular developers with some experience (basic Angular
                  knowledge e.g., components, templates, services) who are eager
                  to learn the latest features and best practices.
                </p>
              </div>

              <!-- Trainer -->
              <div class="speakers-list mt-3 pb-3">
                <h4 class="font-20 nmc-dark-grey font-family-poppins mb-3">
                  About the Trainer
                </h4>

                <div
                  class="speaker d-flex align-items-center justify-content-between flex-column flex-md-row gap-5"
                >
                  <div class="speaker-img position-relative w-30 z-1">
                    <figure class="m-0 overflow-hidden">
                      <img
                        src="assets/images/speakers/michael-hladky.jpeg"
                        class="h-100 w-100 object-fit-cover"
                        alt=""
                      />
                    </figure>
                  </div>

                  <div
                    class="speaker-info text-center text-md-start w-75 w-767-100"
                  >
                    <h3
                      class="nmc-primary font-family-poppins pe-2 position-relative"
                    >
                      Michael Hladky

                      <img
                        src="assets/images/speakers/flags/austria.png"
                        alt="flag"
                        class="flag position-absolute object-fit-cover"
                      />

                      <span class="nmc-medium-grey font-18"
                        >CEO &#64;push-based.io
                      </span>
                    </h3>

                    <p class="font-18 nmc-medium-grey">
                      Michael is a Google Developer Expert, MVP, NX Champion and
                      an active part of the community. As co-founder of the
                      Angular-Austria association, organizer of Angular-Vienna
                      and NestJS-Vienna Meetup he grows the Austrian community.
                      He is a developer, trainer and consultant with the focus
                      on Angular as well as ionic and surrounding technologies,
                      and gives workshops on Angular, RxJs and Typescript.
                    </p>

                    <div
                      class="social d-flex align-items-center justify-content-md-start justify-content-center gap-2 my-3"
                    >
                      <a target="_blank" class="font-20 nmc-dark-grey">
                        <i class="bi bi-twitter-x"></i>
                      </a>

                      <a target="_blank" class="font-20 nmc-dark-grey">
                        <i class="bi bi-github"> </i>
                      </a>

                      <a target="_blank" class="font-20 nmc-dark-grey">
                        <i class="bi bi-linkedin"></i>
                      </a>
                    </div>
                  </div>
                </div>

                <div
                  class="speaker d-flex align-items-center justify-content-between flex-column flex-md-row gap-5 mt-5"
                >
                  <div class="speaker-img position-relative w-30 z-1">
                    <figure class="m-0 overflow-hidden">
                      <img
                        src="assets/images/speakers/enea-jahollari.webp"
                        class="h-100 w-100 object-fit-cover"
                        alt=""
                      />
                    </figure>
                  </div>

                  <div
                    class="speaker-info text-center text-md-start w-75 w-767-100"
                  >
                    <h3
                      class="nmc-primary font-family-poppins pe-2 position-relative"
                    >
                      Enea Jahollari

                      <img
                        src="assets/images/speakers/flags/albania.png"
                        alt="flag"
                        class="flag position-absolute object-fit-cover"
                      />

                      <span class="nmc-medium-grey font-18"
                        >GDE, Trainer, Senior Software Engineer
                      </span>
                    </h3>

                    <p class="font-18 nmc-medium-grey">
                      Enea Jahollari is a GDE, Consultant, Trainer & Senior
                      Software Engineer who builds, audits and optimizes web
                      applications &#64; http://Push-Based.io. He loves open
                      source and contributes to it by writing code, content, and
                      tweets! Loves hyping Angular in his free time.
                    </p>

                    <div
                      class="social d-flex align-items-center justify-content-md-start justify-content-center gap-2 my-3"
                    >
                      <a target="_blank" class="font-20 nmc-dark-grey">
                        <i class="bi bi-twitter-x"></i>
                      </a>

                      <a target="_blank" class="font-20 nmc-dark-grey">
                        <i class="bi bi-github"> </i>
                      </a>

                      <a target="_blank" class="font-20 nmc-dark-grey">
                        <i class="bi bi-linkedin"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Takeaway -->
              <div class="pricing-table mt-3 border">
                <div class="row align-items-center justify-content-between">
                  <div class="takeaway col-12 col-md-6 border-end p-4">
                    <h2
                      class="font-18 text-uppercase fw-semibold font-family-poppins nmc-primary text-center"
                    >
                      Takeaway
                    </h2>

                    <ul class="pricing-text m-0 text-center">
                      <li class="mb-4">One to one with speakers</li>

                      <li class="mb-4">
                        Access to 2 days conference and Workshop on April 11-12
                      </li>
                      <li class="mb-4">
                        Certificate for both Conference and Workshop
                      </li>
                      <li class="mb-4">Morning Tea/Coffee</li>
                      <li class="mb-4">Lunch (Veg/Non Veg Indian Food)</li>
                      <li class="mb-4">Evening Tea/Coffee</li>
                      <li class="mb-4">T-Shirt</li>
                      <li class="mb-4">Goodies</li>
                      <li class="mb-4">Access to Sponsors Booth</li>
                      <!-- <li>
                        <b>
                          *If we sell less than 10 tickets, the workshop can be canceled.
                        </b>
                      </li> -->
                    </ul>
                  </div>

                  <div class="col-12 col-md-6 p-4">
                    <div
                      class="d-flex align-items-center justify-content-center flex-column"
                    >
                      <h2
                        class="font-18 text-uppercase fw-semibold font-family-poppins nmc-primary text-start"
                      >
                        Pricing
                      </h2>

                      <span class="price d-block mb-4">
                        <sup>₹</sup> <span class="number">15,000</span
                        ><sub>+ 18% GST</sub>
                      </span>

                      <a
                        href="https://www.townscript.com/v2/e/ngindia-2025-031141/booking/tickets"
                        target="_blank"
                        class="nmc-btn-primary px-4 h-auto py-3 font-16 text-uppercase"
                      >
                        Buy Tickets
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
