@use "../../styles/variables" as *;

// header {
//     min-height: 88px;
// }


.sticky-header {
    background-color: $nmc-primary;
    color: $nmc-white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    //border-bottom: 3px solid $nmc-primary;
    transition: all 0.3s ease-in-out;

    &.is-sticky {
        background-color: $nmc-primary;
        color: $nmc-white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
}

.logo {
    width: 50px;
    height: 50px;
    background-color: $nmc-white;
    border-radius: 50%;
    padding: 7px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    img {
        filter: brightness(1) contrast(1.1);
    }
}

.nomad-logo {
    width: 100px;
    height: auto;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.mobile-menu {
    display: none;
    width: 100%;
    background: $nmc-primary;
    z-index: 9999;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    // border: 1px solid rgba(255, 255, 255, 0.4);
    transition: opacity 0.3s ease, display 0.3s ease;
    top: 69px;
    opacity: 0;

    li {
        border-top: 1px solid rgba(255, 255, 255, 0.2);

        &:hover a {
            color: $nmc-white !important;
            transform: translateX(5px);
            transition: transform 0.3s ease;
        }

        a {
            transition: transform 0.3s ease;
        }
    }
}

.burger {
    position: relative;
    display: block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 1.5rem;
    height: 1rem;
    border: none;
    outline: none;
    visibility: visible;

    .burger-line {
        position: absolute;
        display: block;
        right: 0;
        width: 100%;
        height: 2.15px;
        opacity: 1;
        rotate: 0deg;
        border-radius: 0.15rem;
        background-color: $nmc-white;
        transition: all 0.3s ease;

        &:nth-child(1) {
            top: 0px;
        }

        &:nth-child(2) {
            top: 0.5rem;
            width: 70%;
        }

        &:nth-child(3) {
            top: 1rem;
        }
    }

    &.isOpened>.burger-line:nth-child(1) {
        top: 0.5rem;
        rotate: 135deg;
    }

    &.isOpened>.burger-line:nth-child(2) {
        opacity: 0;
    }

    &.isOpened>.burger-line:nth-child(3) {
        top: 0.5rem;
        rotate: -135deg;
    }
}

@media (max-width: 992px) {}

.nav-link {
    transition: all 0.3s ease;
    position: relative;

    &:hover {
        color: $nmc-white !important;
        transform: translateY(-2px);
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: $nmc-white;
        transition: width 0.3s ease;
    }

    &:hover::after,
    &.active::after {
        width: 70%;
    }
}

.nmc-btn-primary {
    background-color: $nmc-white !important;
    color: $nmc-primary !important;
    border: 2px solid $nmc-white !important;
    transition: all 0.3s ease;
    font-weight: 500;

    &:hover {
        background-color: transparent !important;
        color: $nmc-white !important;
        border: 2px solid $nmc-white !important;
        transform: translateY(-2px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    i {
        transition: transform 0.3s ease;
    }

    &:hover i {
        transform: scale(1.1);
    }
}

@media (max-width: 420px) {
    .container-boxed {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    // header {
    //     min-height: 65px;
    // }

    .mobile-menu {
        top: 65px;
    }

    .mobile-menu .start {
        display: block !important;
    }

    .logo {
        width: 40px;
        height: auto;
    }
}