<header class="sticky-header nmc-bg-white fixed-top">
  <!-- Mobile Navigation -->
  <ul
    class="mobile-menu flex-column align-items-center justify-content-center position-absolute text-center rounded-0"
  >
    <li class="w-100 py-3">
      <a class="font-18 font-family-poppins nmc-dark-grey" href="home">Home</a>
    </li>

    <li class="w-100 py-3">
      <a class="font-18 font-family-poppins nmc-dark-grey" href="/workshops"
        >Workshops</a
      >
    </li>

    <li class="w-100 py-3">
      <a class="font-18 font-family-poppins nmc-dark-grey" href="/sponsorship"
        >Sponsorship</a
      >
    </li>

    <li class="w-100 py-3">
      <a class="font-18 font-family-poppins nmc-dark-grey" href="/coc">CoC</a>
    </li>

    <li class="w-100 py-3">
      <button
        class="nmc-btn-primary m-auto"
        type="button"
        (click)="navigateAndCloseMenu('pricing')"
      >
        Buy Tickets
      </button>
    </li>
  </ul>

  <div
    class="d-flex align-items-center justify-content-between container-boxed py-2"
  >
    <!-- Logo -->
    <a href="/home" class="d-flex align-items-center">
      <figure class="logo m-0 overflow-hidden me-2">
        <img
          src="assets/images/logo/logo-min.png"
          loading="lazy"
          alt="ng-India Logo"
          class="w-100 h-100 object-fit-contain"
        />
      </figure>

      <div>
        <h3 class="font-family-poppins m-0 nmc-dark-grey">ng-India</h3>
        <div class="d-flex gap-1">
          <p class="nmc-dark-grey font-12 m-0">powered by</p>
          <img
            class="nomad-logo object-fit-contain"
            src="assets/images/logo/nomadcoder-logo.png"
            alt=""
          />
        </div>
      </div>
    </a>

    <div class="d-flex align-items-center justify-content-end">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-md">
        <button
          class="navbar-toggler border-0 px-0"
          type="button"
          (click)="toggleMobileMenu()"
        >
          <div class="burger" id="burger">
            <span class="burger-line"></span>
            <span class="burger-line"></span>
            <span class="burger-line"></span>
          </div>
        </button>

        <div
          class="collapse navbar-collapse justify-content-end align-items-center"
          id="navbar"
        >
          <ul class="navbar-nav mb-lg-0 gap-3 align-items-center">
            <li class="nav-item">
              <a
                class="nav-link font-16 nmc-dark-grey font-uppercase px-3 py-1"
                routerLink="/workshops"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                >Workshops</a
              >
            </li>

            <li class="nav-item">
              <a
                class="nav-link font-16 nmc-dark-grey font-uppercase px-3 py-1"
                routerLink="/sponsorship"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                >Sponsorship</a
              >
            </li>

            <li class="nav-item">
              <a
                class="nav-link font-16 nmc-dark-grey font-uppercase px-3 py-1"
                routerLink="/coc"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                >CoC</a
              >
            </li>

            <li class="nav-item d-none d-md-block">
              <button
                class="nmc-btn-primary px-3 px-lg-5 h-auto py-3 mx-auto ms-0 ms-lg-3"
                type="button"
                [routerLink]="['/home']"
                fragment="pricing"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                Buy Tickets
              </button>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
