@use "../../styles/variables" as *;

.sticky-header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid $nmc-primary;
}

.nomad-coder-text {
    font-weight: 600;
    
    .nomad {
        color: $nmc-primary;
    }
    
    .coder {
        color: $nmc-black;
    }
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.navbar {
    z-index: 9999;

    .nav-link {
        font-size: 18px !important;
    }
}

.mobile-menu {
    display: grid;
    place-content: center;
    width: 100%;
    height: 100vh;
    background: $nmc-white;
    z-index: 9999;
    transition: right 0.5s ease, opacity 0.8s ease;
    opacity: 0;
    visibility: hidden;

    li {
        text-transform: uppercase;
        letter-spacing: .1em;

        a {
            text-decoration: none;
            border-bottom: 3px groove $nmc-primary;
        }

        &:hover a {
            color: $nmc-primary !important;
        }

        .nmc-btn-primary:hover {
            background-color: $nmc-white !important;
            color: $nmc-primary;
        }
    }
}

.burger {
    position: relative;
    display: block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 1.5rem;
    height: 1rem;
    border: none;
    outline: none;
    visibility: visible;

    .burger-line {
        position: absolute;
        display: block;
        right: 0;
        width: 100%;
        height: 2.15px;
        opacity: 1;
        rotate: 0deg;
        border-radius: 0.15rem;
        background-color: $nmc-black;
        transition: all 0.3s ease;

        &:nth-child(1) {
            top: 0px;
        }

        &:nth-child(2) {
            top: 0.5rem;
            width: 70%;
        }

        &:nth-child(3) {
            top: 1rem;
        }
    }

    &.isOpened>.burger-line:nth-child(1) {
        top: 0.5rem;
        rotate: 135deg;
    }

    &.isOpened>.burger-line:nth-child(2) {
        opacity: 0;
    }

    &.isOpened>.burger-line:nth-child(3) {
        top: 0.5rem;
        rotate: -135deg;
    }
}