<section class="sponsorship-section py-5 nmc-bg-light">
  <div class="container-boxed">
    <div class="text-center heading mb-5">
      <h2 class="mb-4 text-bottom-line position-relative">Sponsorship</h2>
    </div>

    <article class="nmc-bg-white p-3 p-sm-4 p-md-5">
      <div>
        <h3 class="mb-0 nmc-dark-grey fw-normal lh-base">
          The <b class="nmc-primary">ng-India</b> is one of the world's biggest
          Angular and Frontend Engineering conferences. Every year, it brings
          together over 500 web developers, including experts like GDEs,
          authors, MVPs, and open-source contributors from 15+ countries. Join
          us to learn new things, meet amazing people, hire talent, and get
          inspired!
        </h3>

        <button
          class="nmc-btn-primary px-3 py-2 h-auto mt-3 mn-1 d-inline-block"
          (click)="downloadFile()"
        >
          Download Brochure
        </button>
      </div>

      <div class="mt-4">
        <figure class="m-0 overflow-hidden">
          <img
            src="assets/images/hero/conf.jpg"
            class="h-100 w-100 object-fit-contain"
            alt="Event Image"
          />
        </figure>
      </div>

      <!-- <div class="mt-4 purple-bg-gradient text-center p-5">
        <h3 class="mb-0 nmc-white lh-base">
          Our mission is to empower aspiring developers by preparing them to be
          job-ready while ensuring ng-India remains financially accessible to
          all. To achieve this, we keep our ticket prices affordable, rang2ng
          from just <b>$40</b> to <b>$50</b>.
        </h3>
      </div> -->

      <div class="mt-4 border-bottom">
        <h3 class="mb-0 font-family-poppins nmc-primary">Highlights</h3>
        <hr class="hr-red-gradient mt-2" />

        <ul class="ms-3 pb-4">
          <li class="font-20 mt-3">
            <b class="nmc-primary me-1">↪</b> <b>Date:</b> 12th April 2025
          </li>

          <li class="font-20 mt-3">
            <b class="nmc-primary me-1">↪</b> <b>Edition:</b> 7th Annual Event
          </li>

          <li class="font-20 mt-3">
            <b class="nmc-primary me-1">↪</b> <b>Venue:</b> Lemon Tree, Sector
            60, Gurgaon
          </li>

          <li class="font-20 mt-3">
            <b class="nmc-primary me-1">↪</b> <b>Expected Delegates:</b> 500+
          </li>

          <li class="font-20 mt-3">
            <b class="nmc-primary me-1">↪</b> <b>Global Reach:</b> Attendees
            from 15+ countries
          </li>

          <li class="font-20 mt-3">
            <b class="nmc-primary me-1">↪</b>
            <b>Professional Profiles:</b> Developers with 2 to 15 years of
            experience
          </li>

          <li class="font-20 mt-3">
            <b class="nmc-primary me-1">↪</b>
            <b>Nationwide Representation:</b> Participants from across India
          </li>

          <li class="font-20 mt-3">
            <b class="nmc-primary me-1">↪</b>
            <b>Corporate Presence:</b> Attendees from leading companies
          </li>
        </ul>
      </div>

      <div class="note mt-4 red-bg-gradient text-center p-4 p-sm-5">
        <h3 class="mb-0 nmc-white lh-base">
          Make your Brand, Product, or Company visible to the best Angular and
          JavaScript developers in India
        </h3>
      </div>

      <div class="mt-4 border-bottom">
        <h3 class="mb-0 font-family-poppins nmc-primary">
          Why Sponsor ng-India?
        </h3>
        <hr class="hr-red-gradient mt-2" />

        <p class="font-22 fw-semibold">
          Sponsoring ng-India gives your brand the opportunity to:
        </p>

        <ul class="ms-3 pb-4">
          <li class="font-20 mt-3">
            <b class="nmc-primary me-1">↪</b> Gain visibility among India’s top
            Angular developers.
          </li>

          <li class="font-20 mt-3">
            <b class="nmc-primary me-1">↪</b> Showcase your developer tools to
            decision-makers and influencers.
          </li>

          <li class="font-20 mt-3">
            <b class="nmc-primary me-1">↪</b> Attract top tech talent by
            representing your organization.
          </li>

          <li class="font-20 mt-3">
            <b class="nmc-primary me-1">↪</b> Promote your UI suites or IDE to
            skilled front-end developers.
          </li>

          <li class="font-20 mt-3">
            <b class="nmc-primary me-1">↪</b> Connect with serious developers,
            Angular architects, and managers.
          </li>

          <li class="font-20 mt-3">
            <b class="nmc-primary me-1">↪</b> Network with Indian companies
            leading enterprise-level Angular projects
          </li>

          <li class="font-20 mt-3">
            <b class="nmc-primary me-1">↪</b> Be recognized by India’s largest
            Angular community
          </li>
        </ul>

        <p class="font-22 fw-semibold">
          Take advantage of this unique platform to grow your reach and impact
          in the developer ecosystem!
        </p>
      </div>

      <div class="mt-4">
        <h3 class="mb-0 font-family-poppins nmc-primary">Packages</h3>
        <!-- <hr class="hr-red-gradient mt-2" />

        <div>
          <p class="font-22 fw-semibold">Gold: 8000 USD</p>

          <ul class="ms-3 pb-4">
            <li class="font-20 mt-3">
              <b class="nmc-primary me-1">↪</b> 15 Min Speaking Slot to One
              speaker from your organization
            </li>

            <li class="font-20 mt-3">
              <b class="nmc-primary me-1">↪</b> Everything in the Silver Package
            </li>
          </ul>
        </div>

        <div>
          <p class="font-22 fw-semibold">Silver: 5000 USD</p>

          <ul class="ms-3 pb-4">
            <li class="font-20 mt-3">
              <b class="nmc-primary me-1">↪</b> Booth (10 * 8 feet) at the Venue
            </li>

            <li class="font-20 mt-3">
              <b class="nmc-primary me-1">↪</b> 1 Pre-Conference Email to all
              attendees with marketing messaging
            </li>

            <li class="font-20 mt-3">
              <b class="nmc-primary me-1">↪</b> 1 Post Conference Email to all
              5000 members of the ng-India community
            </li>

            <li class="font-20 mt-3">
              <b class="nmc-primary me-1">↪</b> Everything in the Bronze Package
            </li>
          </ul>
        </div>

        <div>
          <p class="font-22 fw-semibold">Bronze: 2500 USD</p>

          <ul class="ms-3">
            <li class="font-20 mt-3">
              <b class="nmc-primary me-1">↪</b> Logo on the conference website
            </li>

            <li class="font-20 mt-3">
              <b class="nmc-primary me-1">↪</b> Logo on the main stage
            </li>

            <li class="font-20 mt-3">
              <b class="nmc-primary me-1">↪</b> Logo on the recorded conference
              talk to be published on the YouTube channel
            </li>

            <li class="font-20 mt-3">
              <b class="nmc-primary me-1">↪</b> Pre-Conference Social Media
              Promotion
            </li>

            <li class="font-20 mt-3">
              <b class="nmc-primary me-1">↪</b> Post-Conference Social Media
              Promotion
            </li>

            <li class="font-20 mt-3">
              <b class="nmc-primary me-1">↪</b> Two conference tickets
            </li>
          </ul>
        </div> -->
      </div>

      <div class="mt-4 pb-4">
        <p>Note – the sponsor will pay any tax.</p>

        <!-- <div class="table-responsive">
          <table class="table table-bordered text-center tab">
            <thead>
              <tr>
                <th scope="col">
                  <h3 class="mb-0 font-family-poppins nmc-primary">GOLD</h3>
                </th>

                <th scope="col">
                  <h3 class="mb-0 font-family-poppins nmc-primary">SILVER</h3>
                </th>

                <th scope="col">
                  <h3 class="mb-0 font-family-poppins nmc-primary">BRONZE</h3>
                </th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td class="fw-bold font-20 nmc-dark-grey">8000 USD</td>
                <td class="fw-bold font-20 nmc-dark-grey">5000 USD</td>
                <td class="fw-bold font-20 nmc-dark-grey">2500 USD</td>
              </tr>

              <tr>
                <td>
                  <ul class="d-grid package-grid">
                    <li class="text-start">• 15 Min Speaking Slot</li>
                  </ul>
                </td>

                <td>
                  <ul class="d-grid package-grid">
                    <li class="text-start">• Booth</li>
                    <li class="text-start">• 1 Pre-Conference Email</li>
                    <li class="text-start">• 1 Post Conference Email</li>
                  </ul>
                </td>

                <td>
                  <ul class="d-grid package-grid">
                    <li class="text-start">• Logo on the website</li>
                    <li class="text-start">• Logo on the main stage</li>
                    <li class="text-start">
                      • Logo on the recorded conference talk
                    </li>
                    <li class="text-start">
                      • Pre-Conference Social Media Promotion
                    </li>
                    <li class="text-start">
                      • Post-Conference Social Media Promotion
                    </li>
                    <li class="text-start">• Two conference tickets</li>
                  </ul>
                </td>
              </tr>

              <tr>
                <td class="text-orange fw-semibold font-18">+SILVER</td>
                <td class="text-orange fw-semibold font-18">+BRONZE</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div> -->

        <div class="row g-4 align-items-stretch justify-content-center">
          <div class="col-lg-4 d-grid align-items-stretch">
            <div class="pricing-table">
              <div class="text-center">
                <h3 class="mb-0 font-family-poppins nmc-primary">GOLD</h3>

                <span class="price d-block mb-3">
                  <sup>$</sup> <span class="number">8000</span>
                </span>

                <ul class="pricing-text border-top pt-4">
                  <li class="mb-4">• 15 Min Speaking Slot</li>
                  <li>
                    <h6 class="nmc-primary fw-semibold font-20">+SILVER</h6>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-lg-4 d-grid align-items-stretch">
            <div class="pricing-table">
              <div class="text-center">
                <h3 class="mb-0 font-family-poppins nmc-primary">SILVER</h3>

                <span class="price d-block mb-2">
                  <sup>$</sup> <span class="number">5000</span>
                </span>

                <ul class="pricing-text border-top pt-4">
                  <li class="mb-4">• Booth (8x8 ft.)</li>
                  <li class="mb-4">• 1 Pre-Conference Email</li>
                  <li class="mb-4">• 1 Post Conference Email</li>
                  <li>
                    <h6 class="nmc-primary fw-semibold font-20">+BRONZE</h6>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-lg-4 d-grid align-items-stretch">
            <div class="pricing-table">
              <div class="text-center">
                <h3 class="mb-0 font-family-poppins nmc-primary">BRONZE</h3>

                <span class="price d-block mb-2">
                  <sup>$</sup> <span class="number">2500</span>
                </span>

                <ul class="pricing-text border-top pt-4">
                  <li class="mb-4">• Logo on the website</li>
                  <li class="mb-4">• Logo on the main stage</li>
                  <li class="mb-4">• Logo on the recorded conference talk</li>
                  <li class="mb-4">• Pre-Conference Social Media Promotion</li>
                  <li class="mb-4">• Post-Conference Social Media Promotion</li>
                  <li>• Two conference tickets</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-4">
        <h3 class="mb-0 font-family-poppins nmc-primary">
          To sponsor us, reach out to us here:
        </h3>
        <hr class="hr-red-gradient mt-3" />

        <div class="contact-links">
          <a
            class="font-26 d-block nmc-dark-grey fw-semibold mt-3"
            href="mailto:hello@nomadcoder.ai"
          >
            <i class="bi bi-telephone nmc-primary me-1"></i>
            Phone : <span>+91-9717098666</span>
          </a>

          <a
            class="font-26 d-block nmc-dark-grey fw-semibold mt-3"
            href="mailto:debugmode&#64;outlook.com"
          >
            <i class="bi bi-envelope nmc-primary me-1"></i>
            Email : <span>dhananjay&#64;nomadcoder.ai</span>
          </a>
        </div>
      </div>

      <div class="mt-4 text-center border-top pt-4">
        <h3 class="mb-0 nmc-dark-grey">Thanks for your support.</h3>

        <button
          class="download nmc-btn-primary px-5 h-auto py-3 font-20 nmc-bg-dark-grey mx-auto mt-4"
          (click)="downloadFile()"
        >
          Download Brochure
        </button>
      </div>
    </article>
  </div>
</section>
