@use "../../styles/variables" as *;

.hero-section {
    //padding: 8rem 0;
    //  min-height: 100vh;

    .video-background {
        position: absolute;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
    }

    .video-overlay {
        position: absolute;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -99;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .hero-text {
        // display: grid;
        // place-content: center;

        h1 {
            //line-height: ;
            font-size: 65px;
        }

        .typewriter {
            width: 0;
            display: inline-block;
            animation: typing 4s steps(17) 1s forwards, blink 0.75s step-end infinite;
            white-space: nowrap;
            overflow: hidden;
            border-right: 3px solid $nmc-primary;
            line-height: 1.4;
        }
    }

    .hero-image {
        perspective: 1000px;
        overflow: hidden;

        .word-cloud-image {
            width: 100%;
            height: auto;
          //  animation: zoom-rotate 5s ease-in-out infinite;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
        }
    }

    .hero-circle {
        border: 3px solid $nmc-primary;
        height: 180px;
        width: 180px;
    }

    .nmc-btn-primary {
        font-size: 26px;

        &:hover {
            background-color: $nmc-white !important;
            color: $nmc-dark-grey !important;
            transition: all ease 0.3s;
        }
    }
}

.event-summary .event-card {
    border: 3px solid $nmc-primary;
    height: 230px;
    background-color: $nmc-white !important;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 16ch;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@keyframes zoom-rotate {
    0% {
        transform: scale(1) rotate(0deg);
    }

    50% {
        transform: scale(1.05) rotate(3deg);
    }

    100% {
        transform: scale(1) rotate(0deg);
    }
}