<!-- <section class="hero-section overflow-hidden position-relative">
  <div class="video-overlay"></div>

     <div class="overlay position-absolute top-0 start-0 w-100 h-100 z-1"></div>

  <div class="hero-image position-absolute top-0 start-0">
    <img
      src="assets/images/hero/india-gate-2.jpg"
      alt="Hero Image"
      class="w-100 h-100 object-fit-cover"
    />
  </div> 

  <video autoplay loop muted class="video-background p-0">
    <source
      src="https://www.dropbox.com/scl/fi/5hyfl52vsbj8y294mg45q/ng-India24-cropped.mp4?rlkey=k0yd7a9qbs49qp8fqneeukz2s&raw=1"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>

  <div class="hero-text position-relative z-1 vh-100">
    <h2 class="font-38 font-family-poppins nmc-white text-center mb-3">
      ng-India
      <sup class="font-20 nmc-bg-primary p-2 nmc-white">7th Edition</sup>
    </h2>

    <h1 class="font-family-poppins nmc-white typewriter">
      India's Largest <b class="nmc-primary">Angular</b> Conference!
    </h1>

    <p class="mt-4 font-26 nmc-white text-center">
      April 5th, 2025 | Delhi, India
    </p>
  </div>

   <div
    class="hero-circles d-flex align-items-center justify-content-center gap-4 mt-5"
  >
    <div class="hero-circle  d-flex">
      <h3 class="nmc-white font-24 text-center m-auto">
        <span class="font-38 d-block font-family-poppins"> 10 </span>
        Talks
      </h3>
    </div>

    <div class="hero-circle  d-flex">
      <h3 class="nmc-white font-24 text-center m-auto">
        <span class="font-38 d-block font-family-poppins"> 6 </span>
        Speakers
      </h3>
    </div>

    <div class="hero-circle rounded-circle d-flex">
      <h3 class="nmc-white font-24 text-center m-auto">
        <span class="font-38 d-block font-family-poppins"> 500+ </span>
        Delegates
      </h3>
    </div>

    <div class="hero-circle rounded-circle d-flex">
      <h3 class="nmc-white font-24 text-center m-auto">
        <span class="font-38 d-block font-family-poppins"> 20 </span>
        Sponsors
      </h3>
    </div>
  </div> 
</section> -->

<!-- <section class="hero-section overflow-hidden position-relative py-5">
  <div class="container-boxed">
    <div
      class="d-flex justify-content-between align-items-center flex-column flex-lg-row"
    >
      <div class="hero-text w-60 text-center text-lg-start">
        <h2 class="font-38 font-family-poppins nmc-primary mb-3">
          ng-India
          <sup
            class="font-18 nmc-bg-dark-grey py-1 px-2 nmc-white position-relative"
            >7th Edition</sup
          >
        </h2>

        <h1 class="fw-bolder nmc-dark-grey">
          India's Largest <br class="d-none d-lg-block" />
          <span class="nmc-primary">Angular</span>
          Conference!
        </h1>

        <p class="mt-2 font-26 nmc-dark-grey">April 5th, 2025 | Delhi, India</p>
      </div>

      <div class="hero-image w-40 mt-2 mt-sm-3 mt-lg-0">
        <img
          src="assets/images/hero/hero2.gif"
          alt="Word Cloud Image"
          class="word-cloud-image"
        />
      </div>
    </div>
  </div>
</section> -->

<!-- <app-tag-slider /> -->
<div class="min-vh-100">
<section class="hero-section overflow-hidden position-relative pt-3">
  <div class="container-boxed">
    <div
      class="d-flex justify-content-center align-items-center position-relative z-2"
    >
      <div class="hero-text text-center">
        <h1 class="fw-bolder nmc-dark-grey mb-4">
          ng-India
          <sup
            class="font-18 nmc-bg-primary py-1 px-2 nmc-white position-relative"
          >
            7th Edition
          </sup>
        </h1>

        <div
          class="edition font-18 nmc-bg-primary py-1 px-2 nmc-white position-relative d-none fw-bold mb-3"
        >
          7th Edition
        </div>

        <h2
          class="fw-bolder nmc-dark-grey font-38 font-family-poppins mb-4 mb-sm-5"
        >
          India's Largest
          <span class="nmc-primary text-bottom-line position-relative"
            >Angular</span
          >
          Conference!
        </h2>

        <div
          class="d-flex align-items-center justify-content-center flex-column flex-sm-row gap-4 mb-4"
        >
          <h6 class="font-26 nmc-dark-grey m-0">
            <i class="bi bi-calendar-event me-2 font-20 nmc-primary"></i>April
            12th, 2025
          </h6>

          <h6 class="font-26 nmc-dark-grey m-0">
            <i class="bi bi-geo-alt-fill me-2 font-20 nmc-primary"></i>Gurgaon,
            India
          </h6>
        </div>

        <button
          class="nmc-btn-primary px-5 h-auto py-3 mx-auto font-20 nmc-bg-dark-grey"
          type="button"
          [routerLink]="['/home']"
          fragment="pricing"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Buy Tickets
        </button>
      </div>
    </div>
  </div>

  <img
    src="assets/images/hero/hero-bg-2.png"
    alt="Indian Monuments"
    class="hero-image object-fit-cover position-relative"
  />
</section>


<!-- <section class="event-summary py-5">
  <div class="container-boxed">
    <div class="row align-items-stretch justify-content-center g-4">
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="event-card d-flex flex-column h-100 nmc-bg-olive">
          <h3 class="nmc-dark-grey font-24 text-center m-0 p-4">
            <i
              class="bi bi-calendar-event font-50 nmc-dark-grey mb-2 d-block"
            ></i
            >Day
            <span class="font-48 d-block font-family-poppins mt-2"> 1 </span>
          </h3>

          <h5 class="nmc-dark-grey font-24 text-center m-auto p-4 w-100">
            9 Hrs deep-dive learning
          </h5>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-lg-3">
        <div class="event-card d-flex flex-column h-100 nmc-bg-yellow">
          <h3 class="nmc-dark-grey font-24 text-center m-0 p-4">
            <i class="bi bi-chat-dots font-50 nmc-dark-grey mb-2 d-block"></i>
            Talks
            <span class="font-48 d-block font-family-poppins mt-2"> 15 </span>
          </h3>

          <h5 class="nmc-dark-grey font-24 text-center m-auto p-4 w-100">
            Live Coding based talks
          </h5>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-lg-3">
        <div class="event-card d-flex flex-column h-100 nmc-bg-grape">
          <h3 class="nmc-dark-grey font-24 text-center m-0 p-4">
            <i class="bi bi-mic font-50 nmc-dark-grey mb-2 d-block"></i>Speakers
            <span class="font-48 d-block font-family-poppins mt-2"> 15 </span>
          </h3>

          <h5 class="nmc-dark-grey font-24 text-center m-auto p-4 w-100">
            Experts sharing their knowledge
          </h5>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-lg-3">
        <div class="event-card d-flex flex-column h-100 nmc-bg-peach">
          <h3 class="nmc-dark-grey font-24 text-center m-0 p-4">
            <i class="bi bi-people font-50 nmc-dark-grey mb-2 d-block"></i
            >Delegates
            <span class="font-48 d-block font-family-poppins mt-2"> 500+ </span>
          </h3>

          <h5 class="nmc-dark-grey font-24 text-center m-auto p-4 w-100">
            Enthusiasts learning together
          </h5>
        </div>
      </div>
    </div>
  </div>
</section> -->
</div>