@use "../../styles/variables" as *;

.hero-section {
    .text-bottom-line::after {
        inset: 60px 0 0 -20px;
    }

    .hero-text {
        h1 {
            font-size: 90px;
        }

        sup {
            top: -50px;
            right: 10px;
        }
    }

    .event-stats .row+.row {
        margin-top: -45px;
    }

    .event-card {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
        border: 2px solid $nmc-medium-grey;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: ease 0.3s all;
        position: relative;

        &:hover {
            border-color: $nmc-primary;

            h3 {
                color: $nmc-primary !important;
            }
        }

        &.red-hover:hover {
            background-color: $nmc-primary;

            h3 {
                color: $nmc-white !important;
            }
        }
    }

    .nmc-btn-primary:hover {
        background-color: $nmc-primary !important;
    }
}

@media (max-width: 1099px) {
    // .hero-section {
    //     padding-bottom: 20px;

    //     .hero-image {
    //         bottom: -20px;
    //     }
    // }
}

@media (max-width: 767px) {
    .hero-section {
        .text-bottom-line::after {
            inset: 45px 0 0 -30px;
        }

        .hero-text {
            h2 {
                font-size: 29px !important;
            }
        }
    }
}

@media (max-width: 575px) {
    .hero-section {
        .text-bottom-line::after {
            display: none;
        }

        .hero-text {
            h1 {
                font-size: 63px;
            }

            sup {
                font-size: 16px;
            }

            h2 {
                font-size: 34px !important;
            }
        }
    }
}

@media (max-width: 425px) {
    .hero-section {
        .nmc-btn-primary {
            font-size: 18px;
        }

        .hero-text {
            h1 {
                font-size: 54px;
                margin-bottom: 1rem !important;
            }

            sup {
                display: none;
            }

            .edition {
                display: inline-block !important;

            }
        }
    }
}