@use "../../styles/variables" as *;

.venue-section {
    //border-top: 1px solid #ccc;

    .heading {
        h2 {
            font-size: 40px;
            font-weight: 700;
        }
    }

    .venue-map,
    .venue-info {
        min-height: 400px;
    }

    .venue-map iframe {
        width: 100%;
        height: 100%;
        min-height: 300px;
    }

    .venue-info {
        .overlay {
            background: color-mix(in srgb, $nmc-dark-grey, transparent 15%);
        }
    }
}

@media (max-width: 425px) {

    .venue-section {
        h3 {
            font-size: 28px !important;
        }
    }

}

@media (max-width: 375px) {

    .venue-section {
        h3 {
            font-size: 21px !important;
        }

        p {
            font-size: 15px !important;
        }
    }
}