<section class="venue-section py-5 nmc-bg-light">
  <div class="container-boxed">
    <div class="text-center heading mb-5">
      <h2 class="mb-4 text-bottom-line position-relative">Venue</h2>
    </div>

    <div class="row g-0">
      <div class="col-12 col-md-6 venue-map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3509.566005272436!2d77.0968142!3d28.4021734!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d222102a0a2ef%3A0xb99fb89f30a7adc3!2sLemon%20Tree%20Hotel%2C%20Sec%2060%2C%20Gurgaon!5e0!3m2!1sen!2sin!4v1733146770485!5m2!1sen!2sin"
          frameborder="0"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </div>

      <div class="col-12 col-md-6 venue-info position-relative">
        <div
          class="overlay position-absolute top-0 start-0 w-100 h-100 z-1"
        ></div>

        <img
          src="assets/images/venue/venue1.jpg"
          alt=""
          class="position-absolute top-0 w-100 h-100 object-fit-cover"
        />

        <div
          class="row justify-content-center position-relative z-2 h-100 d-flex align-items-center p-3"
        >
          <div class="col-11 col-md-10 col-lg-9 position-relative text-center">
            <h3 class="font-34 font-family-poppins nmc-white mb-2">
              Lemon Tree Hotel, Sector 60, Gurugram
            </h3>

            <p class="nmc-white mt-3">
              Ullavas Urban Complex, Sector – 60, <br />Gurugram, Haryana -
              122011, India.
            </p>

            <p class="nmc-white mb-0">
              Located in the millennium city, the hotel is just off the Golf
              Course Extension Road and a short distance from the key business
              hubs that house a plethora of MNC’s like Genpact, American
              Express, Samsung and Dell, to name a few. It is also in close
              proximity to ASF Insignia Business Center on Faridabad road, and
              the new commercial area of Sector 63, Gurugram.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="row g-0">
      <div class="col-md-6 venue-map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3500.9118784352363!2d77.2972208790159!3d28.662357112859617!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfb6eec83bfab%3A0x9ea4b1f4c3b370f7!2sThe%20Leela%20Ambience%20Convention%20Hotel%20Delhi!5e0!3m2!1sen!2sin!4v1721209028604!5m2!1sen!2sin"
          frameborder="0"
          style="border: 0"
          allowfullscreen=""
        ></iframe>
      </div>

      <div class="col-md-6 venue-info position-relative">
        <div
          class="overlay position-absolute top-0 start-0 w-100 h-100 z-1"
        ></div>

        <img
          src="assets/images/venue/venue-bg.jpg"
          alt=""
          class="position-absolute top-0 w-100 h-100 object-fit-cover"
        />

        <div
          class="row justify-content-center position-relative z-2 h-100 d-flex align-items-center"
        >
          <div class="col-11 col-md-10 col-lg-9 position-relative text-start">
            <h3 class="font-34 font-family-poppins nmc-white mb-2">
              The Leela Ambience Convention Hotel, Delhi
            </h3>

            <p class="nmc-white mt-3 mb-0">
              The Leela Ambience Convention Hotel in Delhi is a luxury venue
              offering state-of-the-art facilities, spacious event spaces, and
              premium accommodations. It's an ideal location for conferences,
              weddings, and social gatherings, located in East Delhi with
              convenient access to the city's attractions.
            </p>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</section>
