<section class="sponsors-section py-5 nmc-bg-white">
  <div class="container-boxed">
    <div class="text-center heading mb-5">
      <h2 class="mb-4 text-bottom-line position-relative">Sponsors</h2>
    </div>

    <div class="row g-0 clients-wrap">
      @for(sponsor of sponsors; track sponsor;){
      <div
        class="col-xl-3 col-md-4 col-sm-6 client-logo d-flex align-items-center justify-content-center overflow-hidden position-relative"
      >
        <a [href]="sponsor.sponsorLink" target="_blank">
          <figure class="overflow-hidden p-5 m-0">
            <img
              [src]="sponsor.sponsorImage"
              class="w-100 h-100 object-fit-contain"
              alt=""
            />
          </figure>
        </a>

        <p
          class="sponsor-type nmc-medium-grey font-13 font-family-poppins position-absolute m-0"
        >
          {{ sponsor.sponsorType }}
        </p>
      </div>
      }
    </div>
  </div>
</section>
