<section class="sponsors-section py-5 nmc-bg-white">
  <div class="container-boxed">
    <div class="text-center heading mb-5">
      <h2 class="mb-4 text-bottom-line position-relative">Sponsors</h2>
    </div>

    <div class="row g-0 clients-wrap">
      <div
        class="col-xl-3 col-md-4 client-logo d-flex align-items-center justify-content-center overflow-hidden"
      >
        <a href="" target="_blank">
          <figure class="overflow-hidden p-5 m-0">
            <img
              src="../../../assets/images/sponsors/7n.png"
              class="w-100 h-100 object-fit-contain"
              alt=""
            />
          </figure>
        </a>
      </div>

      <div
        class="col-xl-3 col-md-4 client-logo d-flex align-items-center justify-content-center overflow-hidden"
      >
        <a href="" target="_blank">
          <figure class="overflow-hidden p-5 m-0">
            <img
              src="../../../assets/images/sponsors/hrone.svg"
              class="w-100 h-100 object-fit-contain"
              alt=""
            />
          </figure>
        </a>
      </div>

      <div
        class="col-xl-3 col-md-4 client-logo d-flex align-items-center justify-content-center overflow-hidden"
      >
        <a href="" target="_blank">
          <figure class="overflow-hidden p-5 m-0">
            <img
              src="../../../assets/images/sponsors/ivy.png"
              class="w-100 h-100 object-fit-contain"
              alt=""
            />
          </figure>
        </a>
      </div>

      <div
        class="col-xl-3 col-md-4 client-logo d-flex align-items-center justify-content-center overflow-hidden"
      >
        <a href="" target="_blank">
          <figure class="overflow-hidden p-5 m-0">
            <img
              src="../../../assets/images/sponsors/matchbook-ai.jpeg"
              class="w-100 h-100 object-fit-contain"
              alt=""
            />
          </figure>
        </a>
      </div>

      <div
        class="col-xl-3 col-md-4 client-logo d-flex align-items-center justify-content-center overflow-hidden"
      >
        <a href="" target="_blank">
          <figure class="overflow-hidden p-5 m-0">
            <img
              src="../../../assets/images/sponsors/questpond.png"
              class="w-100 h-100 object-fit-contain"
              alt=""
            />
          </figure>
        </a>
      </div>

      <div
        class="col-xl-3 col-md-4 client-logo d-flex align-items-center justify-content-center overflow-hidden"
      >
        <a href="" target="_blank">
          <figure class="overflow-hidden p-5 m-0">
            <img
              src="../../../assets/images/sponsors/rezoomex.png"
              class="w-100 h-100 object-fit-contain"
              alt=""
            />
          </figure>
        </a>
      </div>

      <div
        class="col-xl-3 col-md-4 client-logo d-flex align-items-center justify-content-center overflow-hidden"
      >
        <a href="" target="_blank">
          <figure class="overflow-hidden p-5 m-0">
            <img
              src="../../../assets/images/sponsors/sgm.jpg"
              class="w-100 h-100 object-fit-contain"
              alt=""
            />
          </figure>
        </a>
      </div>

      <div
        class="col-xl-3 col-md-4 client-logo d-flex align-items-center justify-content-center overflow-hidden"
      >
        <a href="" target="_blank">
          <figure class="overflow-hidden p-5 m-0">
            <img
              src="../../../assets/images/sponsors/syncfusion.png"
              class="w-100 h-100 object-fit-contain"
              alt=""
            />
          </figure>
        </a>
      </div>

      <div
        class="col-xl-3 col-md-4 client-logo d-flex align-items-center justify-content-center overflow-hidden"
      >
        <a href="" target="_blank">
          <figure class="overflow-hidden p-5 m-0">
            <img
              src="../../../assets/images/sponsors/taazaa.png"
              class="w-100 h-100 object-fit-contain"
              alt=""
            />
          </figure>
        </a>
      </div>
    </div>
  </div>
</section>
