<section class="sponsors-section py-5 nmc-bg-light">
  <div class="container-boxed">
    <div class="text-center heading mb-5">
      <h2 class="mb-4 text-bottom-line position-relative">Sponsors</h2>
    </div>

    <!-- <div class="row g-3 clients-wrap justify-content-center">
      @for(sponsor of sponsors; track sponsor;){
      <div class="col-xl-3 col-md-4 col-sm-6">
        <div
          class="client-logo nmc-bg-light d-flex align-items-center justify-content-center overflow-hidden position-relative"
        >
          <a [href]="sponsor.sponsorLink" target="_blank">
            <figure class="overflow-hidden p-5 m-0">
              <img
                [src]="sponsor.sponsorImage"
                class="w-100 h-100 object-fit-contain"
                alt=""
              />
            </figure>
          </a> -->

          <!-- <p
            class="sponsor-type font-13 font-family-poppins position-absolute m-0"
            [ngClass]="{
              'bronze-text': sponsor.sponsorType === 'Bronze',
              'silver-text': sponsor.sponsorType === 'Silver',
              'gold-text': sponsor.sponsorType === 'Gold'
            }"
          >
            {{ sponsor.sponsorType }}
          </p> -->

        <!-- </div>
      </div>
      }
    </div> -->

    <div class="py-5 text-center">
      <p class="nmc-medium-grey font-20">
        Interested in becoming a sponsor and supporting our conference?
      </p>

      <button
        class="nmc-btn-primary px-4 px-sm-5 h-auto py-2 py-sm-3 font-20 mx-auto mt-5"
        type="button"
        routerLink="/sponsorship"
      >
        Learn More
      </button>
    </div>
  </div>
</section>
