<!-- <app-hero /> -->

<!-- <app-stats /> -->

<app-hero-alt />

<app-stats-sticky />

<app-about />

<app-albums id="albums" />

<app-speakers id="speakers" />

<app-agenda id="agenda" />

<!-- <app-sponsors id="sponsors" /> -->
<section id="sponsors" class="py-5">
    <div class="container-boxed text-center">
        <h2 class="nmc-dark-grey fw-bold mb-3">Sponsors</h2>
        <p class="nmc-medium-grey font-24">Coming Soon...</p>
    </div>
</section>

<!-- <app-sponsors /> -->

<app-pricing id="pricing" />

<!-- <app-goodies /> -->

<app-venue id="venue" />

<!-- <app-contact /> -->
