<section class="workshops-section py-5 nmc-bg-white">
  <div class="container-boxed">
    <div class="text-center heading mb-5">
      <h2 class="mb-4 text-bottom-line position-relative">Join Workshops</h2>
    </div>

    <div
      class="workshops-container d-flex flex-column justify-content-center mt-5"
    >
      <div class="row g-5">
        <div class="col-12 col-md-6 border-right">
          <div
            class="workshops-card nmc-bg-white overflow-hidden position-relative h-100 m-auto"
          >
            <div class="worshop-heading">
              <h6 class="nmc-primary text-start fw-bold">#workshop-1</h6>

              <h3
                class="font-family-poppins font-24 d-inline-block nmc-dark-grey"
              >
                Architecting Angular Apps for High Performance: Control the
                Browser Render Pipeline, Master the Event Loop, Measure &
                Optimize CWV - Master Class (stationary & online)
              </h3>

              <div class="d-flex align-items-center justify-content-between">
                <div
                  class="speakers d-flex align-items-center justify-content-start gap-3 mb-4 mt-3"
                >
                  <div class="inner d-flex align-items-end rounded-5">
                    <figure
                      class="m-0 p-0 zoom-effect overflow-hidden w-40 rounded-circle"
                    >
                      <img
                        src="assets/images/speakers/speaker-2.jpeg"
                        class="w-100 h-100 object-fit-cover"
                        alt="Event Tech"
                        loading="lazy"
                      />
                    </figure>

                    <h6 class="nmc-primary text-end fw-bold ms-2">
                      Michael Hladky
                    </h6>
                  </div>
                  |
                  <div class="inner d-flex align-items-end rounded-5">
                    <figure
                      class="m-0 p-0 zoom-effect overflow-hidden w-40 rounded-circle"
                    >
                      <img
                        src="assets/images/speakers/speaker-8.webp"
                        class="w-100 h-100 object-fit-cover"
                        alt="Event Tech"
                        loading="lazy"
                      />
                    </figure>

                    <h6 class="nmc-primary text-end fw-bold ms-2">
                      Enea Jahollari
                    </h6>
                  </div>
                </div>

                <p class="nmc-dark-grey m-0 fw-bold font-24">
                  <i class="bi bi-currency-rupee nmc-primary"></i>5000
                </p>
              </div>

              <div
                class="pricing d-flex align-items-center justify-content-between mb-3 pb-3"
              >
                <p class="nmc-medium-grey m-0">
                  <i class="bi bi-calendar-event-fill nmc-primary"></i> Tuesday,
                  Nov 05, 2024, 10.00 - 17.00 IST
                </p>

                <button
                  class="nmc-btn-primary px-4 h-auto py-2 font-14 text-uppercase"
                  type="submit"
                >
                  Buy Workshop
                </button>
              </div>

              <h4 class="font-18 nmc-dark-grey font-family-poppins">
                What You Will Learn
              </h4>
            </div>

            <div class="workshop-info m-0 p-0">
              <ul class="mb-3 ms-3">
                <li
                  class="font-16 nmc-medium-grey mt-3 fw-normal font-family-din"
                >
                  ✔️ Control the Browser Render Pipeline - To make your app
                  faster, you need to understand how the browser interprets your
                  code. Learn the different stages of the Browser Render
                  Pipeline. Get to know the tools to inspect & analyze
                  bottlenecks in your application. Write code that always
                  performs optimally.
                </li>

                <li
                  class="font-16 nmc-medium-grey mt-3 fw-normal font-family-din"
                >
                  ✔️ Master the Javascript Event Loop - If you care about
                  performance in any JavaScript application, mastering the Event
                  Loop is a must. Dive deep into the JavaScript vm and learn
                  techniques to avoid slow performing code on real world
                  applications.
                </li>

                <li
                  class="font-16 nmc-medium-grey mt-3 fw-normal font-family-din"
                >
                  ✔️ Measure & Optimize (Core) Web Vitals - Your performance has
                  a score. Learn how it’s composed, measured and techniques to
                  improve it. Get an expert in analyzing and improving LCP, CLS,
                  INP, TBT, TTFB & more.
                </li>

                <li
                  class="font-16 nmc-medium-grey mt-3 fw-normal font-family-din"
                >
                  ✔️ Go Zoneless: Master the new zoneless & signal-based change
                  detection - Understand how Angular is getting faster because
                  of the new change detection and zoneless features. Learn how
                  to benefit from them.
                </li>

                <li
                  class="font-16 nmc-medium-grey mt-3 fw-normal font-family-din"
                >
                  ✔️ Use CSS and DOM performance best practices - Improve the
                  performance of real world applications by applying the latest
                  CSS features. Learn how to identify and fix forced reflows and
                  how to avoid layout thrashing.
                </li>

                <li
                  class="font-16 nmc-medium-grey mt-3 fw-normal font-family-din"
                >
                  ✔️ Optimize your apps Network requests - Enterprise apps
                  consume a lot of data. Master the tools that allow you to
                  identify network related performance bottlenecks. Learn
                  techniques and strategic approaches to optimize network
                  related data consumption to ultimately improve the performance
                  of your application.
                </li>
              </ul>

              <h4 class="font-18 nmc-dark-grey font-family-poppins">
                Takeaway
              </h4>

              <p class="font-16 nmc-medium-grey mt-3 fw-normal font-family-din">
                From this workshop you will walk away with a deep understanding
                of how to enhance your applications performance. You'll gain
                practical knowledge of the JavaScript event loop, learn
                optimization techniques for the Core Web Vitals, and understand
                how to effectively utilize strategic approaches to identify &
                encounter performance bottlenecks. We'll dive deep into the
                browsers render pipeline, ensuring you know how to measure and
                improve your apps performance properly. Additionally, you will
                learn to apply advanced features like measuring CSS execution
                performance & utilizing cutting-edge CSS and DOM APIs to reduce
                reflows and prevent layout thrashing.
              </p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div
            class="workshops-card nmc-bg-white overflow-hidden position-relative h-100 m-auto"
          >
            <div class="worshop-heading">
              <h6 class="nmc-primary text-start fw-bold">#workshop-2</h6>

              <h3
                class="font-family-poppins font-24 d-inline-block nmc-dark-grey"
              >
                Angular Code Quality - Master Class (stationary & online)
              </h3>

              <div class="d-flex align-items-center justify-content-between">
                <div
                  class="speakers d-flex align-items-center justify-content-start gap-3 mb-4 mt-3"
                >
                  <div class="inner d-flex align-items-end rounded-5">
                    <figure
                      class="m-0 p-0 zoom-effect overflow-hidden w-40 rounded-circle"
                    >
                      <img
                        src="assets/images/speakers/speaker-3.jpg"
                        class="w-100 h-100 object-fit-cover"
                        alt="Event Tech"
                        loading="lazy"
                      />
                    </figure>

                    <h6 class="nmc-primary text-end fw-bold ms-2">
                      Rainer Hahnekamp
                    </h6>
                  </div>
                </div>

                <p class="nmc-dark-grey m-0 fw-bold font-24">
                  <i class="bi bi-currency-rupee nmc-primary"></i>5000
                </p>
              </div>
            </div>

            <div class="workshop-info m-0 p-0">
              <div
                class="pricing d-flex align-items-center justify-content-between mb-3 pb-3"
              >
                <p class="nmc-medium-grey m-0">
                  <i class="bi bi-calendar-event-fill nmc-primary"></i> Tuesday,
                  Nov 05, 2024, 10.00 - 17.00 IST
                </p>

                <button
                  class="nmc-btn-primary px-4 h-auto py-2 font-14 text-uppercase"
                  type="submit"
                >
                  Buy Workshop
                </button>
              </div>

              <h4 class="font-18 nmc-dark-grey font-family-poppins">
                What You Will Learn
              </h4>

              <p class="font-16 nmc-medium-grey mt-3 fw-normal font-family-din">
                In this workshop, you’ll learn how to significantly enhance the
                quality and maintainability of your Angular projects through a
                focused, one-day intensive session.
              </p>

              <p class="font-16 nmc-medium-grey mt-3 fw-normal font-family-din">
                By the end of the day, you will be able to:
              </p>

              <ul class="mb-3 ms-3">
                <li
                  class="font-16 nmc-medium-grey mt-3 fw-normal font-family-din"
                >
                  ✔️ Create Custom ESLint Rules: Craft your own ESLint rules and
                  harness existing ones to tailor code quality checks to your
                  team’s specific needs.
                </li>

                <li
                  class="font-16 nmc-medium-grey mt-3 fw-normal font-family-din"
                >
                  ✔️ Develop Angular Schematics: Build your own schematics from
                  scratch to automate and standardize the creation of code
                  structures within your projects.
                </li>

                <li
                  class="font-16 nmc-medium-grey mt-3 fw-normal font-family-din"
                >
                  ✔️ Apply Code Metrics: Utilize key metrics like the
                  Maintainability Index, Cyclomatic Complexity, and Code Churn
                  to analyze and improve your project’s performance.
                </li>
              </ul>

              <p class="font-16 nmc-medium-grey mt-3 fw-normal font-family-din">
                We’ll kick off with ESLint, where you’ll learn to craft your own
                rules step-by-step. By the end, you’ll be equipped to create
                customizable rules that not only fix code automatically but also
                efficiently validate Angular templates.
              </p>

              <p class="font-16 nmc-medium-grey mt-3 fw-normal font-family-din">
                The journey continues with Angular Schematics. You’ll start from
                the basics, learning how to develop them to automate the
                generation of repetitive code segments and ensure consistent use
                of libraries across your projects. You’ll also learn how to
                integrate these tools into the powerful ng update process.
              </p>

              <p class="font-16 nmc-medium-grey mt-3 fw-normal font-family-din">
                We'll also take a look at the Nx Generators—a powerful
                enhancement to Schematics that adds features and tools for more
                sophisticated development workflows.
              </p>

              <p class="font-16 nmc-medium-grey mt-3 fw-normal font-family-din">
                We’ll conclude the workshop by exploring code metrics, focusing
                on key indicators such as the Maintainability Index, Cyclomatic
                Complexity, and Code Churn. You will understand how these
                metrics operate, what benefits they offer, and how they can be
                used to gauge and improve the health of your codebase.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>