<section class="workshops-section py-5 nmc-bg-white">
  <div class="container-boxed">
    <!-- <div class="d-flex justify-content-between align-items-start">
      <div class="heading w-40">
        <span class="nmc-primary font-24 fw-semibold">Join the</span>
        <h2
          class="mb-4 left text-bottom-line position-relative font-family-poppins nmc-dark-grey"
        >
          Workshops
        </h2>
      </div>

      <div
        class="workshops-summary d-flex align-items-center justify-content-between gap-5 w-50"
      >
        <div>
          <h5 class="nmc-dark-grey fw-bold font-24">Participants</h5>
          <h3 class="nmc-dark-grey fw-bolder">500</h3>
        </div>

        <div>
          <h5 class="nmc-dark-grey fw-bold font-24">Workshops</h5>
          <h3 class="nmc-dark-grey fw-bolder">2</h3>
        </div>

        <div>
          <h5 class="nmc-dark-grey fw-bold font-24">Speakers</h5>
          <h3 class="nmc-dark-grey fw-bolder">2</h3>
        </div>
      </div>
    </div> -->

    <div
      class="workshops-container d-flex flex-column justify-content-center mt-5"
    >
      <div class="row g-4">
        <div class="col-12 col-md-6">
          <div
            class="workshops-card nmc-bg-white overflow-hidden position-relative h-100 m-auto"
          >
            <div class="d-flex p-4 gap-3">
              <figure class="m-0 p-0 zoom-effect overflow-hidden w-40">
                <img
                  src="assets/images/speakers/speaker-2.jpeg"
                  class="w-100 h-100 object-fit-cover"
                  alt="Event Tech"
                  loading="lazy"
                />
              </figure>

              <div class="w-60">
                <h3
                  class="font-family-poppins font-28 d-inline-block mb-3 nmc-dark-grey"
                >
                  Modern Angular Architectures: Signals, Standalone, DDD & Micro
                  Frontends - Master Class (stationary & online)
                </h3>

                <h6 class="nmc-medium-grey text-end fw-bold">
                  by <span class="nmc-primary">Michael Hladky</span>
                </h6>
              </div>
            </div>

            <figcaption class="m-0 p-4 pt-0">
              <div
                class="pricing d-flex align-items-center justify-content-between mb-3 pb-3"
              >
                <p class="nmc-medium-grey m-0">
                  <i class="bi bi-calendar-event-fill nmc-primary"></i> Tuesday,
                  Nov 05, 2024, 10.00 - 17.00 IST
                </p>

                <p class="nmc-dark-grey m-0 fw-bold font-24">
                  <i class="bi bi-currency-rupee nmc-primary"></i>5000
                </p>
              </div>

              <h5 class="font-18 nmc-medium-grey mb-4 fw-normal">
                Participants of this workshop will emerge with a deep
                understanding of modern Angular architectures, equipped with
                practical skills and cutting-edge techniques. You will learn how
                to construct and maintain scalable and maintainable web
                applications using the latest Angular features, such as
                Standalone Components, Module Federation, and Angular Signals.
              </h5>

              <div class="d-flex align-items-center gap-3">
                <button
                  class="nmc-btn-primary px-4 h-auto py-2 font-14 text-uppercase nmc-primary"
                  type="submit"
                >
                  More Details
                </button>

                <button
                  class="nmc-btn-primary px-4 h-auto py-2 font-14 text-uppercase nmc-primary"
                  type="submit"
                >
                  Buy Ticket
                </button>
              </div>
            </figcaption>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div
            class="workshops-card nmc-bg-white overflow-hidden position-relative h-100 m-auto"
          >
            <div class="d-flex p-4 gap-3">
              <figure class="m-0 p-0 zoom-effect overflow-hidden w-40">
                <img
                  src="assets/images/speakers/speaker-3.jpg"
                  class="w-100 h-100 object-fit-cover"
                  alt="Event Tech"
                  loading="lazy"
                />
              </figure>

              <div class="w-60">
                <h3
                  class="font-family-poppins font-28 d-inline-block mb-3 nmc-dark-grey"
                >
                  Modern Angular Architectures: Signals, Standalone, DDD & Micro
                  Frontends - Master Class (stationary & online)
                </h3>

                <h6 class="nmc-medium-grey text-end fw-bold">
                  by <span class="nmc-primary">Rainer Hahnekamp</span>
                </h6>
              </div>
            </div>

            <figcaption class="m-0 p-4 pt-0">
              <div
                class="pricing d-flex align-items-center justify-content-between mb-3 pb-3"
              >
                <p class="nmc-medium-grey m-0">
                  <i class="bi bi-calendar-event-fill nmc-primary"></i> Tuesday,
                  Nov 05, 2024, 10.00 - 17.00 IST
                </p>

                <p class="nmc-dark-grey m-0 fw-bold font-24">
                  <i class="bi bi-currency-rupee nmc-primary"></i>5000
                </p>
              </div>

              <h5 class="font-18 nmc-medium-grey mb-4 fw-normal">
                Participants of this workshop will emerge with a deep
                understanding of modern Angular architectures, equipped with
                practical skills and cutting-edge techniques. You will learn how
                to construct and maintain scalable and maintainable web
                applications using the latest Angular features, such as
                Standalone Components, Module Federation, and Angular Signals.
              </h5>

              <div class="d-flex align-items-center gap-3">
                <button
                  class="nmc-btn-primary px-4 h-auto py-2 font-14 text-uppercase nmc-primary"
                  type="submit"
                >
                  More Details
                </button>

                <button
                  class="nmc-btn-primary px-4 h-auto py-2 font-14 text-uppercase nmc-primary"
                  type="submit"
                >
                  Buy Ticket
                </button>
              </div>
            </figcaption>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="workshops-wrapper mt-5">
    <div class="workshops d-flex justify-content-between align-items-center">
      <figure class="m-0 p-0 zoom-effect overflow-hidden w-50">
        <img
          src="assets/images/workshops/workshop-1.jpg"
          class="w-100 h-100 object-fit-cover"
          alt="Event Tech"
          loading="lazy"
        />
      </figure>

      <div class="w-50">
        <div class="inner">
          <span class="nmc-primary font-20 fw-normal d-block">Angular</span>
          <h3
            class="font-family-poppins font-38 d-inline-block mb-3 nmc-dark-grey"
          >
            Build Next-Gen Web Applications
          </h3>

          <h5 class="font-18 nmc-medium-grey mb-4 fw-normal">
            Completely synergize resource taxing relationships via premier niche
            markets. Professionally cultivate customer service. Completely
            pursue scalable customer.
          </h5>

          <button
            class="nmc-btn-primary px-4 h-auto py-2 font-14 text-uppercase nmc-primary"
            type="submit"
          >
            More Details
          </button>
        </div>
      </div>
    </div>

    <div class="workshops d-flex justify-content-between align-items-center">
      <div class="w-50">
        <div class="inner">
          <span class="nmc-primary font-20 fw-normal d-block">Angular</span>
          <h3
            class="font-family-poppins font-38 d-inline-block mb-3 nmc-dark-grey"
          >
            Build Next-Gen Web Applications
          </h3>

          <h5 class="font-18 nmc-medium-grey mb-4 fw-normal">
            Completely synergize resource taxing relationships via premier niche
            markets. Professionally cultivate customer service. Completely
            pursue scalable customer.
          </h5>

          <button
            class="nmc-btn-primary px-4 h-auto py-2 font-14 text-uppercase nmc-primary"
            type="submit"
          >
            More Details
          </button>
        </div>
      </div>

      <figure class="m-0 p-0 zoom-effect overflow-hidden w-50">
        <img
          src="assets/images/workshops/workshop-2.jpg"
          class="w-100 h-100 object-fit-cover"
          alt="Event Tech"
          loading="lazy"
        />
      </figure>
    </div>

    <div class="workshops d-flex justify-content-between align-items-center">
      <figure class="m-0 p-0 zoom-effect overflow-hidden w-50">
        <img
          src="assets/images/workshops/workshop-1.jpg"
          class="w-100 h-100 object-fit-cover"
          alt="Event Tech"
          loading="lazy"
        />
      </figure>

      <div class="w-50">
        <div class="inner">
          <span class="nmc-primary font-20 fw-normal d-block">Angular</span>
          <h3
            class="font-family-poppins font-38 d-inline-block mb-3 nmc-dark-grey"
          >
            Build Next-Gen Web Applications
          </h3>

          <h5 class="font-18 nmc-medium-grey mb-4 fw-normal">
            Completely synergize resource taxing relationships via premier niche
            markets. Professionally cultivate customer service. Completely
            pursue scalable customer.
          </h5>

          <button
            class="nmc-btn-primary px-4 h-auto py-2 font-14 text-uppercase nmc-primary"
            type="submit"
          >
            More Details
          </button>
        </div>
      </div>
    </div>
  </div> -->
</section>
