<section class="workshops-section pt-5 nmc-bg-white">
  <div class="container-boxed">
    <div class="d-flex justify-content-between align-items-start">
      <div class="heading w-40">
        <span class="nmc-primary font-24 fw-semibold">Join the</span>
        <h2
          class="mb-4 left text-bottom-line position-relative font-family-poppins nmc-dark-grey"
        >
          Workshops
        </h2>
      </div>

      <div
        class="workshops-summary d-flex align-items-center justify-content-between gap-5 w-50"
      >
        <div>
          <h5 class="nmc-dark-grey fw-bold font-24">Participants</h5>
          <h3 class="nmc-dark-grey fw-bolder">393</h3>
        </div>

        <div>
          <h5 class="nmc-dark-grey fw-bold font-24">Workshops</h5>
          <h3 class="nmc-dark-grey fw-bolder">15</h3>
        </div>

        <div>
          <h5 class="nmc-dark-grey fw-bold font-24">Speakers</h5>
          <h3 class="nmc-dark-grey fw-bolder">8</h3>
        </div>
      </div>
    </div>

    <div
      class="workshops-container d-flex flex-column justify-content-center mt-5"
    >
      <div class="row g-4">
        <div class="col-12 col-md-6 col-lg-4">
          <div
            class="workshops-card nmc-bg-white overflow-hidden position-relative h-100 m-auto"
          >
            <a>
              <figure class="m-0 p-0 zoom-effect overflow-hidden">
                <img
                  src="../../../assets/images/workshops/workshop-1.jpg"
                  class="w-100 h-100 object-fit-cover"
                  alt="Event Tech"
                  loading="lazy"
                />
              </figure>

              <figcaption class="m-0 p-4">
                <span class="nmc-primary font-20 fw-normal d-block"
                  >Angular</span
                >
                <h3
                  class="font-family-poppins font-38 d-inline-block mb-3 nmc-dark-grey"
                >
                  Build Next-Gen Web Applications
                </h3>

                <h5 class="font-18 nmc-medium-grey mb-4 fw-normal">
                  Completely synergize resource taxing relationships via premier
                  niche markets. Professionally cultivate customer service.
                  Completely pursue scalable customer.
                </h5>

                <button
                  class="nmc-btn-primary px-4 h-auto py-2 font-14 text-uppercase nmc-primary"
                  type="submit"
                >
                  More Details
                </button>
              </figcaption>
            </a>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <div
            class="workshops-card nmc-bg-white overflow-hidden position-relative h-100 m-auto"
          >
            <a>
              <figure class="m-0 p-0 zoom-effect overflow-hidden">
                <img
                  src="../../../assets/images/workshops/workshop-2.jpg"
                  class="w-100 h-100 object-fit-cover"
                  alt="Event Tech"
                  loading="lazy"
                />
              </figure>

              <figcaption class="m-0 p-4">
                <span class="nmc-primary font-20 fw-normal d-block"
                  >Angular</span
                >
                <h3
                  class="font-family-poppins font-38 d-inline-block mb-3 nmc-dark-grey"
                >
                  Build Next-Gen Web Applications
                </h3>

                <h5 class="font-18 nmc-medium-grey mb-4 fw-normal">
                  Completely synergize resource taxing relationships via premier
                  niche markets. Professionally cultivate customer service.
                  Completely pursue scalable customer.
                </h5>

                <button
                  class="nmc-btn-primary px-4 h-auto py-2 font-14 text-uppercase nmc-primary"
                  type="submit"
                >
                  More Details
                </button>
              </figcaption>
            </a>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <div
            class="workshops-card nmc-bg-white overflow-hidden position-relative h-100 m-auto"
          >
            <a>
              <figure class="m-0 p-0 zoom-effect overflow-hidden">
                <img
                  src="../../../assets/images/workshops/workshop-1.jpg"
                  class="w-100 h-100 object-fit-cover"
                  alt="Event Tech"
                  loading="lazy"
                />
              </figure>

              <figcaption class="m-0 p-4">
                <span class="nmc-primary font-20 fw-normal d-block"
                  >Angular</span
                >
                <h3
                  class="font-family-poppins font-38 d-inline-block mb-3 nmc-dark-grey"
                >
                  Build Next-Gen Web Applications
                </h3>

                <h5 class="font-18 nmc-medium-grey mb-4 fw-normal">
                  Completely synergize resource taxing relationships via premier
                  niche markets. Professionally cultivate customer service.
                  Completely pursue scalable customer.
                </h5>

                <button
                  class="nmc-btn-primary px-4 h-auto py-2 font-14 text-uppercase nmc-primary"
                  type="submit"
                >
                  More Details
                </button>
              </figcaption>
            </a>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <div
            class="workshops-card nmc-bg-white overflow-hidden position-relative h-100 m-auto"
          >
            <a>
              <figure class="m-0 p-0 zoom-effect overflow-hidden">
                <img
                  src="../../../assets/images/workshops/workshop-2.jpg"
                  class="w-100 h-100 object-fit-cover"
                  alt="Event Tech"
                  loading="lazy"
                />
              </figure>

              <figcaption class="m-0 p-4">
                <span class="nmc-primary font-20 fw-normal d-block"
                  >Angular</span
                >
                <h3
                  class="font-family-poppins font-38 d-inline-block mb-3 nmc-dark-grey"
                >
                  Build Next-Gen Web Applications
                </h3>

                <h5 class="font-18 nmc-medium-grey mb-4 fw-normal">
                  Completely synergize resource taxing relationships via premier
                  niche markets. Professionally cultivate customer service.
                  Completely pursue scalable customer.
                </h5>

                <button
                  class="nmc-btn-primary px-4 h-auto py-2 font-14 text-uppercase nmc-primary"
                  type="submit"
                >
                  More Details
                </button>
              </figcaption>
            </a>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <div
            class="workshops-card nmc-bg-white overflow-hidden position-relative h-100 m-auto"
          >
            <a>
              <figure class="m-0 p-0 zoom-effect overflow-hidden">
                <img
                  src="../../../assets/images/workshops/workshop-1.jpg"
                  class="w-100 h-100 object-fit-cover"
                  alt="Event Tech"
                  loading="lazy"
                />
              </figure>

              <figcaption class="m-0 p-4">
                <span class="nmc-primary font-20 fw-normal d-block"
                  >Angular</span
                >
                <h3
                  class="font-family-poppins font-38 d-inline-block mb-3 nmc-dark-grey"
                >
                  Build Next-Gen Web Applications
                </h3>

                <h5 class="font-18 nmc-medium-grey mb-4 fw-normal">
                  Completely synergize resource taxing relationships via premier
                  niche markets. Professionally cultivate customer service.
                  Completely pursue scalable customer.
                </h5>

                <button
                  class="nmc-btn-primary px-4 h-auto py-2 font-14 text-uppercase nmc-primary"
                  type="submit"
                >
                  More Details
                </button>
              </figcaption>
            </a>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <div
            class="workshops-card nmc-bg-white overflow-hidden position-relative h-100 m-auto"
          >
            <a>
              <figure class="m-0 p-0 zoom-effect overflow-hidden">
                <img
                  src="../../../assets/images/workshops/workshop-2.jpg"
                  class="w-100 h-100 object-fit-cover"
                  alt="Event Tech"
                  loading="lazy"
                />
              </figure>

              <figcaption class="m-0 p-4">
                <span class="nmc-primary font-20 fw-normal d-block"
                  >Angular</span
                >
                <h3
                  class="font-family-poppins font-38 d-inline-block mb-3 nmc-dark-grey"
                >
                  Build Next-Gen Web Applications
                </h3>

                <h5 class="font-18 nmc-medium-grey mb-4 fw-normal">
                  Completely synergize resource taxing relationships via premier
                  niche markets. Professionally cultivate customer service.
                  Completely pursue scalable customer.
                </h5>

                <button
                  class="nmc-btn-primary px-4 h-auto py-2 font-14 text-uppercase nmc-primary"
                  type="submit"
                >
                  More Details
                </button>
              </figcaption>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="workshops-wrapper mt-5">
    <div class="workshops d-flex justify-content-between align-items-center">
      <figure class="m-0 p-0 zoom-effect overflow-hidden w-50">
        <img
          src="../../../assets/images/workshops/workshop-1.jpg"
          class="w-100 h-100 object-fit-cover"
          alt="Event Tech"
          loading="lazy"
        />
      </figure>

      <div class="w-50">
        <div class="inner">
          <span class="nmc-primary font-20 fw-normal d-block">Angular</span>
          <h3
            class="font-family-poppins font-38 d-inline-block mb-3 nmc-dark-grey"
          >
            Build Next-Gen Web Applications
          </h3>

          <h5 class="font-18 nmc-medium-grey mb-4 fw-normal">
            Completely synergize resource taxing relationships via premier niche
            markets. Professionally cultivate customer service. Completely
            pursue scalable customer.
          </h5>

          <button
            class="nmc-btn-primary px-4 h-auto py-2 font-14 text-uppercase nmc-primary"
            type="submit"
          >
            More Details
          </button>
        </div>
      </div>
    </div>

    <div class="workshops d-flex justify-content-between align-items-center">
      <div class="w-50">
        <div class="inner">
          <span class="nmc-primary font-20 fw-normal d-block">Angular</span>
          <h3
            class="font-family-poppins font-38 d-inline-block mb-3 nmc-dark-grey"
          >
            Build Next-Gen Web Applications
          </h3>

          <h5 class="font-18 nmc-medium-grey mb-4 fw-normal">
            Completely synergize resource taxing relationships via premier niche
            markets. Professionally cultivate customer service. Completely
            pursue scalable customer.
          </h5>

          <button
            class="nmc-btn-primary px-4 h-auto py-2 font-14 text-uppercase nmc-primary"
            type="submit"
          >
            More Details
          </button>
        </div>
      </div>

      <figure class="m-0 p-0 zoom-effect overflow-hidden w-50">
        <img
          src="../../../assets/images/workshops/workshop-2.jpg"
          class="w-100 h-100 object-fit-cover"
          alt="Event Tech"
          loading="lazy"
        />
      </figure>
    </div>

    <div class="workshops d-flex justify-content-between align-items-center">
      <figure class="m-0 p-0 zoom-effect overflow-hidden w-50">
        <img
          src="../../../assets/images/workshops/workshop-1.jpg"
          class="w-100 h-100 object-fit-cover"
          alt="Event Tech"
          loading="lazy"
        />
      </figure>

      <div class="w-50">
        <div class="inner">
          <span class="nmc-primary font-20 fw-normal d-block">Angular</span>
          <h3
            class="font-family-poppins font-38 d-inline-block mb-3 nmc-dark-grey"
          >
            Build Next-Gen Web Applications
          </h3>

          <h5 class="font-18 nmc-medium-grey mb-4 fw-normal">
            Completely synergize resource taxing relationships via premier niche
            markets. Professionally cultivate customer service. Completely
            pursue scalable customer.
          </h5>

          <button
            class="nmc-btn-primary px-4 h-auto py-2 font-14 text-uppercase nmc-primary"
            type="submit"
          >
            More Details
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
