@use "../../styles/variables" as *;

.border-right {
    border-right: 1px solid $nmc-primary;
}

.workshops-section {

    .heading {
        h2 {
            font-size: 40px;
            font-weight: 700;
        }
    }

    .workshops-card {
        figure {
            height: 40px;
            width: 40px;
        }

        .pricing {
            border-bottom: 1px solid #ccc;
        }


        h3 {
            letter-spacing: -1px;
        }

        .nmc-btn-primary {
            box-shadow: none;
            font-weight: 800;
            letter-spacing: .2rem;
        }

    }
}