<section class="pricing-section py-5 nmc-bg-white">
  <div class="container-boxed">
    <div class="text-center heading mb-5">
      <h2 class="mb-4 text-bottom-line position-relative">Pricing</h2>
    </div>

    <div class="row g-4 align-items-stretch justify-content-center">
      <div class="col-md-4 d-row">
        <div class="pricing-table">
          <div class="text-center">
            <h2
              class="font-18 text-uppercase fw-semibold my-4 font-family-poppins nmc-primary"
            >
              Last Date - 15 Jan 2025
            </h2>

            <h3 class="nmc-medium-grey font-15 fw-semibold text-uppercase">
              Early Bird
            </h3>

            <span class="price d-block mb-3">
              <sup>₹</sup> <span class="number">3500</span>
            </span>

            <ul class="pricing-text mb-5">
              <li class="mb-4">Conference Seats</li>
              <li class="mb-4">Lunch/Coffee</li>
              <li class="mb-4">T-Shirt</li>
              <li class="mb-4">Goodies</li>
            </ul>

            <a href="#" class="nmc-btn-primary h-auto px-2 py-3">Buy Ticket</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 d-row">
        <div class="pricing-table">
          <div class="text-center">
            <h2
              class="font-18 text-uppercase fw-semibold my-4 font-family-poppins nmc-primary"
            >
              Last Date - 20 March 2025
            </h2>

            <h2 class="nmc-medium-grey font-15 fw-semibold text-uppercase">
              Regular
            </h2>

            <span class="price d-block mb-3">
              <sup>₹</sup> <span class="number">4000</span>
            </span>

            <ul class="pricing-text mb-5">
              <li class="mb-4">Conference Seats</li>
              <li class="mb-4">Lunch/Coffee</li>
              <li class="mb-4">T-Shirt</li>
              <li class="mb-4">Goodies</li>
            </ul>

            <a href="#" class="nmc-btn-primary h-auto px-2 py-3">Buy Ticket</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 d-row">
        <div class="pricing-table">
          <div class="text-center">
            <h2
              class="font-18 text-uppercase fw-semibold my-4 font-family-poppins nmc-primary"
            >
              Last Date - 5 April 2025
            </h2>

            <h2 class="nmc-medium-grey font-15 fw-semibold text-uppercase">
              Late
            </h2>

            <span class="price d-block mb-3">
              <sup>₹</sup> <span class="number">5000</span>
            </span>

            <ul class="pricing-text mb-5">
              <li class="mb-4">Conference Seats</li>
              <li class="mb-4">Lunch/Coffee</li>
              <li class="mb-4">T-Shirt</li>
              <li class="mb-4">Goodies</li>
            </ul>

            <a href="#" class="nmc-btn-primary h-auto px-2 py-3">Buy Ticket</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
