<section class="goodies-section nmc-bg-white">
  <!-- <div class="text-center heading mb-5">
      <h2 class="mb-4 text-bottom-line position-relative">Goodies</h2>
    </div> -->

  <div>
    <figure class="overflow-hidden h-auto mx-auto my-0">
      <img
        src="assets/images/goodies/hoodie.png"
        alt="Goodies"
        class="w-100 h-100 object-fit-cover"
      />
    </figure>

    <!-- <picture>
        <source
          srcset="assets/images/goodies/goodies-small.png"
          media="(max-width: 576px)"
        />

        <source
          srcset="assets/images/goodies/goodies-large.png"
          media="(min-width: 577px)"
        />

        <img
          src="assets/images/goodies/goodies-large.png"
          alt="Goodies"
          class="w-full h-auto object-cover"
        />
      </picture> -->
  </div>
</section>
