<section class="agenda-section py-5 nmc-bg-light">
  <div class="container-boxed">
    <div class="text-center heading mb-5">
      <h2 class="mb-4 text-bottom-line position-relative">Agenda</h2>
    </div>

    <div class="agendas">
      <div class="agenda d-flex">
        <figure class="speaker-img m-0 rounded-circle overflow-hidden">
          <img
            src="../../../assets/images/speakers/speaker-2.jpeg"
            class="w-100 h-100 object-fit-cover"
            alt=""
          />
        </figure>

        <div class="text ps-5">
          <span class="time fw-semibold">08:30 - 10:00</span>
          <h2 class="my-3">Introduction to Signals</h2>

          <p class="nmc-medium-grey font-family-inter">
            A small river named Duden flows by their place and supplies it with
            the necessary regelialia. It is a paradisematic country, in which
            roasted parts of sentences fly into your mouth.
          </p>

          <h3 class="speaker-name font-24 m-0">
            —
            <a href="#" class="nmc-primary mx-2 font-family-poppins"
              >Brett Morgan</a
            >
            <span class="position font-15">Founder of Abc</span>
          </h3>
        </div>
      </div>

      <div class="agenda d-flex">
        <figure class="speaker-img m-0 rounded-circle overflow-hidden">
          <img
            src="../../../assets/images/speakers/speaker-3.jpg"
            class="w-100 h-100 object-fit-cover"
            alt=""
          />
        </figure>

        <div class="text ps-5">
          <span class="time fw-semibold">08:30 - 10:00</span>
          <h2 class="my-3">Introduction to Signals</h2>

          <p class="nmc-medium-grey font-family-inter">
            A small river named Duden flows by their place and supplies it with
            the necessary regelialia. It is a paradisematic country, in which
            roasted parts of sentences fly into your mouth.
          </p>

          <h3 class="speaker-name font-24 m-0">
            —
            <a href="#" class="nmc-primary mx-2 font-family-poppins"
              >Brett Morgan</a
            >
            <span class="position font-15">Founder of Abc</span>
          </h3>
        </div>
      </div>

      <div class="agenda d-flex">
        <figure class="speaker-img m-0 rounded-circle overflow-hidden">
          <img
            src="../../../assets/images/speakers/speaker-5.jpeg"
            class="w-100 h-100 object-fit-cover"
            alt=""
          />
        </figure>

        <div class="text ps-5">
          <span class="time fw-semibold">08:30 - 10:00</span>
          <h2 class="my-3">Introduction to Signals</h2>

          <p class="nmc-medium-grey font-family-inter">
            A small river named Duden flows by their place and supplies it with
            the necessary regelialia. It is a paradisematic country, in which
            roasted parts of sentences fly into your mouth.
          </p>

          <h3 class="speaker-name font-24 m-0">
            —
            <a href="#" class="nmc-primary mx-2 font-family-poppins"
              >Brett Morgan</a
            >
            <span class="position font-15">Founder of Abc</span>
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>
