<section class="agenda-section py-5 nmc-bg-light">
  <div class="container-boxed">
    <div class="text-center heading mb-5">
      <h2 class="mb-4 text-bottom-line position-relative">Agenda</h2>
    </div>

    <div class="py-5 text-center">
      <h3 class="nmc-medium-grey">
        Coming Soon...
      </h3>
    </div>

    <!-- <div class="agendas">
      @for(agenda of agendas; track agenda;){
      <div class="agenda d-flex align-items-center align-items-sm-start flex-column flex-sm-row">
        @if(agenda.speakerImage && agenda.speakerName){
        <figure class="speaker-img m-0 rounded-circle overflow-hidden">
          <img
            [src]="agenda.speakerImage"
            class="w-100 h-100 object-fit-cover"
            alt=""
          />
        </figure>
        }@else {
        <figure
          class="speaker-img icon m-0 rounded-circle overflow-hidden d-flex"
        >
          <img
            [src]="agenda.speakerImage"
            class="w-100 h-100 object-fit-contin m-auto"
            alt=""
          />
        </figure>
        }

        <div
          class="text ps-0 ps-sm-4 ps-md-5 mt-4 mt-sm-0 text-center text-sm-start"
        >
          <span class="time fw-semibold"
            >{{ agenda.startTime }} - {{ agenda.endTime }}</span
          >
          <h2 class="my-3 nmc-primary">{{ agenda.title }}</h2>

          <p
            [innerHTML]="agenda.description"
            class="nmc-medium-grey font-family-inter"
          ></p>

          <h3 class="speaker-name font-24 m-0 nmc-primary font-family-poppins">
            @if(agenda.speakerName){—
            {{ agenda.speakerName }}
            } @if(agenda.speakerPosition){
            <span class="ms-2 position font-16">{{
              agenda.speakerPosition
            }}</span
            >}
          </h3>
        </div>
      </div>
      }
    </div> -->

    <!-- <div
      class="error-label text-danger font-18 d-flex align-items-center justify-content-center mt-5 mb-0"
    >
      <i class="bi bi-exclamation-triangle-fill me-2"></i>
      <p class="nmc-medium-grey font-family-inter m-0">
        Agendas are subjected to be changed
      </p>
    </div> -->

  </div>
</section>