<div class="container-boxed mt-5 mb-4">
    <div class="row">
        <div class="col-12 col-lg-3 col-md-6 mb-3">
            <div class="sticky-note sticky-pink">
                <h1 class="fw-bold">1</h1>
                <div class="sticky-category fw-semibold">Day</div>
            </div>
        </div>
        <div class="col-12 col-lg-3 col-md-6 mb-3">
            <div class="sticky-note sticky-blue">
                <h1 class="fw-bold">12</h1>
                <div class="sticky-category fw-semibold">Talks</div>
            </div>
        </div>
        <div class="col-12 col-lg-3 col-md-6 mb-3">
            <div class="sticky-note sticky-yellow">
                <h1 class="fw-bold">12</h1>
                <div class="sticky-category fw-semibold">Speakers</div>
            </div>
        </div>
        <div class="col-12 col-lg-3 col-md-6 mb-3">
            <div class="sticky-note sticky-green">
                <h1 class="fw-bold">400+</h1>
                <div class="sticky-category fw-semibold">Delegates</div>
            </div>
        </div>
    </div>
</div>