@use "../../styles/variables" as *;

* {
    box-sizing: border-box;
    //padding: 0;
}

.heading {
    h2 {
        font-size: 40px;
        font-weight: 700;
    }
}

.albums-section {

    figure {
        height: 350px;
    }
}

.photo-grid {
    display: grid;
    //gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 240px;
}

@media screen and (min-width: 800px) {
    .card-tall {
        grid-row: span 2 / auto;
    }

    .card-wide {
        grid-column: span 2 / auto;
    }
}

.card {
    overflow: hidden;
    background: #353535;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}


@media (max-width: 575px) {
    .all-years {
        li a {
            font-size: 16px !important;
        }
    }
}