<section class="albums-section pb-5 pt-4 nmc-bg-white">
  <div class="container-boxed">
    <!-- <div class="text-center heading mb-5">
      <h2 class="mb-4 text-bottom-line position-relative">Photos</h2>
    </div> -->

    <!-- <div class="photo-grid">
      <div
        class="card rounded-0 border-0 card-wide"
        style="background-image: url('assets/images/albums/2023.jpg')"
      ></div>

      <div
        class="card rounded-0 border-0 card-tall"
        style="background-image: url('assets/images/albums/collage/3.jpg')"
      ></div>

      <div
        class="card rounded-0 border-0 card"
        style="background-image: url('assets/images/albums/collage/11.jpg')"
      ></div>

      <div
        class="card rounded-0 border-0"
        style="background-image: url('assets/images/albums/collage/1.jpg')"
      ></div>

      <div
        class="card rounded-0 border-0 card-tall"
        style="background-image: url('assets/images/albums/collage/27.jpg')"
      ></div>

      <div
        class="card rounded-0 border-0"
        style="background-image: url('assets/images/albums/collage/4.jpg')"
      ></div>

      <div
        class="card rounded-0 border-0 card-tall"
        style="background-image: url('assets/images/albums/collage/8.jpg')"
      ></div>

      <div
        class="card rounded-0 border-0"
        style="background-image: url('assets/images/albums/collage/7.jpg')"
      ></div>

      <div
        class="card rounded-0 border-0 card-wide"
        style="background-image: url('assets/images/albums/2019.jpg')"
      ></div>

      <div
        class="card rounded-0 border-0"
        style="background-image: url('assets/images/albums/collage/23.jpg')"
      ></div>

      <div
        class="card rounded-0 border-0 card-wide"
        style="background-image: url('assets/images/albums/collage/25.jpg')"
      ></div>

      <div
        class="card rounded-0 border-0 card-tall"
        style="background-image: url('assets/images/albums/collage/29.jpg')"
      ></div>

      <div
        class="card rounded-0 border-0 card"
        style="background-image: url('assets/images/albums/collage/17.jpg')"
      ></div>

      <div
        class="card rounded-0 border-0"
        style="background-image: url('assets/images/albums/collage/20.jpg')"
      ></div>

      <div
        class="card rounded-0 border-0 card-tall"
        style="background-image: url('assets/images/albums/collage/33.jpg')"
      ></div>

      <div
        class="card rounded-0 border-0"
        style="background-image: url('assets/images/albums/collage/21.jpg')"
      ></div>

      <div
        class="card rounded-0 border-0"
        style="background-image: url('assets/images/albums/collage/31.jpg')"
      ></div>

      <div
        class="card rounded-0 border-0"
        style="background-image: url('assets/images/albums/collage/12.jpg')"
      ></div>

      <div
        class="card rounded-0 border-0 card-wide"
        style="background-image: url('assets/images/albums/2020.jpg')"
      ></div>

      <div
        class="card rounded-0 border-0"
        style="background-image: url('assets/images/albums/collage/9.jpg')"
      ></div>

      <div
        class="card rounded-0 border-0"
        style="background-image: url('assets/images/albums/collage/30.jpg')"
      ></div>
    </div> -->

    <div
      class="mt-3 d-flex align-items-center gap-3 gap-lg-4 flex-column flex-lg-row"
    >
      <p class="nmc-dark-grey font-family-poppins font-20 m-0">Albums:</p>

      <ul
        class="all-years d-flex align-items-center gap-4 gap-md-5 flex-wrap justify-content-center justify-content-lg-start"
      >
        <li>
          <a
            class="nmc-primary font-family-poppins font-20 text-decoration-underline"
            target="_blank"
            href="https://photos.google.com/u/1/share/AF1QipODRP75FW-saEvINXZ7wGeUqkmE0mEr-icj0YzLjFT0C8UZ1fFnx0qFdU0ov_WXdA?key=Y3JpMnlualJheHdHZTBjVFdEVXV5Um9kWVo4alR3"
          >
            <i class="bi bi-link-45deg nmc-dark-grey"></i>2024</a
          >
        </li>

        <li>
          <a
            class="nmc-primary font-family-poppins font-20 text-decoration-underline"
            target="_blank"
            href="https://photos.app.goo.gl/aJvCsPgSeLoGsMxKA"
          >
            <i class="bi bi-link-45deg nmc-dark-grey"></i>2023</a
          >
        </li>

        <li>
          <a
            class="nmc-primary font-family-poppins font-20 text-decoration-underline"
            target="_blank"
            href="https://photos.app.goo.gl/QMyQnCqXU27uAh4G6"
          >
            <i class="bi bi-link-45deg nmc-dark-grey"></i>2022</a
          >
        </li>

        <li>
          <a
            class="nmc-primary font-family-poppins font-20 text-decoration-underline"
            target="_blank"
            href="https://photos.google.com/share/AF1QipMOs5NDzr_sJ_QrvT82xUj_N0mKReOO5wbO3dGrjlI-1gTVSikDgpvf_4T6btT0fw?key=cHBPVC1iLWRUdHJ3MnVRMzBjb3FwdFEyN3dmR0tR"
          >
            <i class="bi bi-link-45deg nmc-dark-grey"></i>2020</a
          >
        </li>

        <li>
          <a
            class="nmc-primary font-family-poppins font-20 text-decoration-underline"
            target="_blank"
            href="https://photos.app.goo.gl/5ghyyo8tCLaLCDb29"
          >
            <i class="bi bi-link-45deg nmc-dark-grey"></i>2019</a
          >
        </li>

        <li>
          <a
            class="nmc-primary font-family-poppins font-20 text-decoration-underline"
            target="_blank"
            href="https://photos.app.goo.gl/L4sRxBkJeMpgJcoB3"
          >
            <i class="bi bi-link-45deg nmc-dark-grey"></i>2018</a
          >
        </li>
      </ul>
    </div>

    <div
      class="mt-3 d-flex align-items-center gap-3 gap-lg-4 flex-column flex-lg-row"
    >
      <p class="nmc-dark-grey font-family-poppins font-20 m-0">Videos:</p>

      <ul
        class="all-years d-flex align-items-center gap-4 gap-md-5 flex-wrap justify-content-center justify-content-lg-start"
      >
        <li>
          <a
            class="nmc-primary font-family-poppins font-20 text-decoration-underline"
            target="_blank"
            href="https://www.youtube.com/playlist?list=PL4ghowaPhrX13hdJmn8HLG8n3NWD9R4NX"
          >
            <i class="bi bi-link-45deg nmc-dark-grey"></i>2024</a
          >
        </li>

        <li>
          <a
            class="nmc-primary font-family-poppins font-20 text-decoration-underline"
            target="_blank"
            href="https://www.youtube.com/playlist?list=PL4ghowaPhrX2owsqbFpSEsCg6fT45YX6u"
          >
            <i class="bi bi-link-45deg nmc-dark-grey"></i>2023</a
          >
        </li>

        <li>
          <a
            class="nmc-primary font-family-poppins font-20 text-decoration-underline"
            target="_blank"
            href="https://www.youtube.com/playlist?list=PL4ghowaPhrX2fQhC0cFX0FVx14LiTUCGH"
          >
            <i class="bi bi-link-45deg nmc-dark-grey"></i>2022</a
          >
        </li>

        <li>
          <a
            class="nmc-primary font-family-poppins font-20 text-decoration-underline"
            target="_blank"
            href="https://www.youtube.com/playlist?list=PL4ghowaPhrX1lN6-An81AsQrASeQ45atk"
          >
            <i class="bi bi-link-45deg nmc-dark-grey"></i>2020</a
          >
        </li>

        <li>
          <a
            class="nmc-primary font-family-poppins font-20 text-decoration-underline"
            target="_blank"
            href="https://www.youtube.com/playlist?list=PL4ghowaPhrX3PxiScj4vAqKI1kjv_qi1E"
          >
            <i class="bi bi-link-45deg nmc-dark-grey"></i>2019</a
          >
        </li>
      </ul>
    </div>

    <!-- <div class="row align-items-center g-3">
      @for(album of albums; track album;){
      <div class="col-4">
        <a [href]="album.link" target="_blank">
          <figure class="m-0 overflow-hidden">
            <img
              [src]="album.image"
              class="w-100 h-100 object-fit-cover"
              [alt]="album.year"
            />
          </figure>

          <p class="text-center nmc-medium-grey font-18 mt-1 fw-semibold">
            {{ album.title }}
          </p>
        </a>
      </div>
      }
    </div> -->
  </div>
</section>
