<section class="hero-section overflow-hidden position-relative py-lg-5 pb-5 pt-4">
    <div class="d-flex justify-content-center align-items-center">
        <div class="hero-text text-center">
            <div class="edition font-18 nmc-bg-primary py-1 px-2 nmc-white position-relative d-none fw-bold mb-3">
                8th Edition
            </div>
            
            <h1 class="fw-bolder nmc-dark-grey mb-4 position-relative d-inline-block">
                ng-India
                <span class="edition-badge font-18 nmc-bg-primary py-1 px-2 nmc-white position-absolute fw-bold">
                    8th Edition
                </span>
            </h1>

            <h2 class="fw-bolder nmc-dark-grey font-38 font-family-poppins mb-4 mb-sm-5 tagline">
                India's Largest
                <span class="nmc-primary text-bottom-line position-relative">Angular</span>
                Conference
            </h2>

            <div class="d-flex flex-column flex-sm-row justify-content-center align-items-center gap-3 gap-sm-4 gap-md-5 mt-3 mt-md-4 mb-4 mb-md-5 date-location">
                <h6 class="font-18 font-sm-20 font-md-24 font-lg-26 nmc-dark-grey m-0">
                    <i class="bi bi-calendar-event-fill me-2 font-16 font-md-18 font-lg-20 nmc-primary"></i>April 11, 2026
                </h6>
                <h6 class="font-18 font-sm-20 font-md-24 font-lg-26 nmc-dark-grey m-0">
                    <i class="bi bi-geo-alt-fill me-2 font-16 font-md-20 font-lg-22 nmc-primary"></i>Gurgaon, India
                </h6>
            </div>


            <div class="d-flex flex-column flex-sm-row align-items-center justify-content-center gap-3 gap-sm-4 gap-md-5">
                <button class="nmc-btn-secondary px-3 px-sm-4 px-md-5 h-auto py-2 py-sm-3 font-20" type="button"
                    [routerLink]="['/home']" fragment="pricing" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">
                    <i class="bi bi-ticket-perforated me-2 font-20"></i>Buy Tickets
                </button>
                <button class="nmc-btn-ai px-3 px-sm-4 px-md-5 h-auto py-2 py-sm-3 font-20" type="button">
                    <i class="bi bi-stars me-2 font-20"></i>AI-India
                </button>
            </div>
        </div>
    </div>
</section>